// _________________________ Start Middle _________________________
section#middle
	.headline
		h1 Blog
	.cmsms_breadcrumbs
		a.cms_home(href="index.html") Home
		span(class="breadcrumbs_sep") &nbsp;/&nbsp;
		span Blog

	.content_wrap.r_sidebar

		// _________________________ Start Content _________________________
		section#content(role="main")
			.entry
				.cmsms_cc
			.entry-summary
				section.blog

					// _________________________ Start Standard Article _________________________
					// <article class="post type-post status-publish format-standard hentry category-blog-post category-medical category-text-posts tag-blog tag-image-2">
						.cmsms_info
							span.cmsms_post_format_img
							.cmsms_like
								a#cmsmsLike-527.cmsmsLike.active(href="#" onclick="return false;")
									span 63

							abbr.published(title="March 13, 2015")
								span.cmsms_page_day 13
								span.cmsms_page_year 2015
								span.cmsms_page_month Mar

						.ovh
							header.entry-header
								figure
									a.preloader(href="openpost.html" title="Standard Post With an Image")
										img.fullwidth.wp-post-image(width="710" height="400" src="images/stethoscope-on-clipboard-s-710400-710x400.jpg" alt="Standard Post With an Image" title="Standard Post With an Image")

								h2.entry-title
									a(href="openpost.html") Standard Post With an Image

								.cmsms_post_info
									span.user_name
										By
										a(href="openpost.html" title="Posts by Roshelle Beckwith" rel="author") rbeckwith

									span.cmsms_post_meta_divider &nbsp;/&nbsp;
									span.cmsms_category 
										In
										a(href="openpost.html" title="View all posts in Blog" rel="category tag") Blog,
										a(href="openpost.html" title="View all posts in Medical" rel="category tag") Medical,
										a(href="openpost.html" title="View all posts in Text posts" rel="category tag") Text posts

							.entry-content
								p We don’t just produce our themes. We give life to whole microcosms, where beautiful designs are powered by immense functionality. We consider our work to be successfully done not when the next product is released for sale, but when our customers share their great user experience and showcase the beautiful websites they have managed to&#8230;

							a.more_button(href="openpost.html") Read More
							.cl
							.divider
							footer.entry-meta
					// _________________________ Finish Standard Article _________________________

					// _________________________ Start Aside Article _________________________
					article.post.type-post.status-publish.format-aside.hentry.category-blog-post.category-medical.category-text-posts.tag-aside-format.tag-aside-text
						.cmsms_info
							span.cmsms_post_format_img
							.cmsms_like
								a#cmsmsLike-406.cmsmsLike.active(href="#" onclick="return false;")
									span 25

							abbr.published(title="March 12, 2015")
								span.cmsms_page_day 12
								span.cmsms_page_year 2015
								span.cmsms_page_month Mar

						.ovh
							header.entry-header
								h2.entry-content Just like anything else, medicine is helpful when used on time, in a correct way and believed in.
							footer.entry-meta
								.cmsms_post_info
									span.user_name
										By 
										a(href="#" title="Posts by Roshelle Beckwith" rel="author") rbeckwith

									span.cmsms_post_meta_divider &nbsp;/&nbsp;
									span.cmsms_category
										In
										a(href="openpost.html" title="View all posts in Blog" rel="category tag") Blog,
										a(href="openpost.html" title="View all posts in Medical" rel="category tag") Medical,
										a(href="openpost.html" title="View all posts in Text posts" rel="category tag") Text posts
					// _________________________ Finish Aside Article _________________________

					// _________________________ Start Standard Article _________________________
					article.post.type-post.status-publish.format-standard.hentry.category-blog-post.category-medical.tag-no-image.tag-plain-text
						.cmsms_info
							span.cmsms_post_format_img
							.cmsms_like
								a#cmsmsLike-525.cmsmsLike.active(href="#" onclick="return false;")
									span 26

							abbr.published(title="March 11, 2015")
								span.cmsms_page_day 22
								span.cmsms_page_year 2015
								span.cmsms_page_month Mar

						.ovh
							header.entry-header
								h2.entry-title
									a(href="openpost.html") Standard Post Without Image
								.cmsms_post_info
									span.user_name
										By a(href="#" title="Posts by Roshelle Beckwith" rel="author") rbeckwith

									span.cmsms_post_meta_divider &nbsp;/&nbsp;
									span.cmsms_category
										In a(href="openpost.html" title="View all posts in Blog" rel="category tag") Blog,
										a(href="openpost.html" title="View all posts in Medical" rel="category tag") Medical
							.entry-content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ratione mollitia vitae reiciendis iusto, a facilis repellat. Ut quidem magni dolores eveniet assumenda adipisci facilis iste quis laborum natus, laudantium asperiores voluptas porro pariatur totam soluta fuga quia error, quo quibusdam, ipsa. Odio laborum, adipisci et. Ipsam fugiat sequi, vero. Aspernatur cupiditate mollitia soluta modi unde corporis consectetur blanditiis repellat sed magnam ut voluptate delectus neque autem tempora excepturi non, dolor libero quisquam, maiores dolorem deserunt doloribus sunt. Aliquam tempore pariatur nulla dolor, voluptatem facilis ipsum officia provident aliquid iste.
							a.more_button(href="openpost.html") Read More
							.cl
							.divider
							footer.entry-meta

					// _________________________ Finish Standard Article _________________________

					// _________________________ Start Video Article _________________________
					article.post.type-post.status-publish.format-video.hentry.category-blog-post.category-medical.category-text-posts.tag-post-video.tag-video-files
						.cmsms_info
							span.cmsms_post_format_img
							.cmsms_like
								a#cmsmsLike-396.cmsmsLike.active(href="#" onclick="return false;")
									span 14

							abbr.published(title="March 10, 2015")
								span.cmsms_page_day 10
								span.cmsms_page_year 2015
								span.cmsms_page_month Mar

						.ovh
							header.entry-header
								.cmsms_blog_media
									.resizable_block
										iframe(src="http://player.vimeo.com/video/79777777?title=0&amp;byline=0&amp;portrait=0&amp;hd=1&amp;wmode=transparent" allowFullScreen)

								h2.entry-title
									a(href="openpost.html") Video post format

								.cmsms_post_info
									span.user_name
										By
										a(href="#" title="Posts by Roshelle Beckwith" rel="author") rbeckwith

									span.cmsms_post_meta_divider &nbsp;/&nbsp;
									span.cmsms_category
										In
										a(href="openpost.html" title="View all posts in Blog" rel="category tag") Blog,
										a(href="openpost.html" title="View all posts in Medical" rel="category tag") Medical,
										a(href="openpost.html" title="View all posts in Text posts" rel="category tag") Text posts

							.entry-content
								p Create blog posts with video easily by using video post format. All you need to do is simply select Video format in post format section and paste a link to the video you want to embed.  You can embed videos from You Tube, Vimeo, and you might as well use a self-hosted video.

							a.more_button(href="openpost.html") Read More
							.cl
							.divider
							footer.entry-meta

					// _________________________ Finish Video Article _________________________

					// _________________________ Start Gallery Article _________________________
					article.post.type-post.status-publish.format-gallery.hentry.category-blog-post.category-medical.category-text-posts.tag-gallery.tag-slider
						.cmsms_info
							span.cmsms_post_format_img
							.cmsms_like
								a#cmsmsLike-514.cmsmsLike.active(href="#" onclick="return false;")
									span 23

							abbr.published(title="March 10, 2015")
								span.cmsms_page_day 10
								span.cmsms_page_year 2015
								span.cmsms_page_month Mar

						.ovh
							header.entry-header
								#slideshow_514.shortcode_slideshow
									.shortcode_slideshow_body
										script(type="text/javascript").
											jQuery(document).ready(function () {
												jQuery('#slideshow_514 .shortcode_slideshow_slides').cmsmsResponsiveContentSlider( {
													sliderWidth : '100%',
													sliderHeight : 'auto',
													animationSpeed : 500,
													animationEffect : 'slide',
													animationEasing : 'easeInOutExpo',
													pauseTime : 0,
													activeSlide : 1,
													touchControls : true,
													pauseOnHover : false,
													arrowNavigation : true,
													slidesNavigation : false
												} );
											} );

										.shortcode_slideshow_container
											ul.shortcode_slideshow_slides.responsiveContentSlider
												li
													figure
														img.fullwidth(width="710" height="400" src="images/doctor-at-the-gym-710400-710x400.jpg" alt="Gallery Post Format" title="Gallery Post Format")
												li
													figure
														img.fullwidth(width="710" height="399" src="images/consultation-s-710400-710x399.jpg" alt="Gallery Post Format" title="Gallery Post Format")
												li
													figure
														img.fullwidth(width="710" height="399" src="images/Young-attractive-man-710400-710x399.jpg" alt="Gallery Post Format" title="Gallery Post Format")

								h2.entry-title
									a(href="openpost.html") Gallery Post Format

								.cmsms_post_info
									span.user_name
										By 
										a(href="#" title="Posts by Roshelle Beckwith" rel="author") rbeckwith

									span.cmsms_post_meta_divider &nbsp;/&nbsp;
									span.cmsms_category
										In
										a(href="openpost.html" title="View all posts in Blog" rel="category tag") Blog,
										a(href="openpost.html" title="View all posts in Medical" rel="category tag") Medical,
										a(href="openpost.html" title="View all posts in Text posts" rel="category tag") Text posts

							.entry-content
								p Post multiple images in a single post using gallery post format.

							a.more_button(href="openpost.html") Read More
							.cl
							.divider
							footer.entry-meta

					// _________________________ Finish Gallery Article _________________________

					// _________________________ Start Audio Article _________________________
					// article.post.type-post.status-publish.format-audio.hentry.category-blog-post.category-medical.category-text-posts.tag-audio-files.tag-music-post
						.cmsms_info
							span.cmsms_post_format_img
							.cmsms_like
								a#cmsmsLike-520.cmsmsLike.active(href="#" onclick="return false;")
									span 10

							abbr.published(title="March 7, 2015")
								span.cmsms_page_day 7
								span.cmsms_page_year 2015
								span.cmsms_page_month Mar

						.ovh
							header.entry-header
								.cmsms_blog_media
									script(type="text/javascript").
										jQuery(document).ready(function () { jQuery('#jquery_jplayer_535614ed1b9f8').jPlayer( { ready : function () { jQuery(this).jPlayer('setMedia', { m4a : 'http://www.jplayer.org/audio/mp3/Miaow-01-Tempered-song.mp3', oga : 'http://www.jplayer.org/audio/ogg/Miaow-01-Tempered-song.ogg' } ); } , cssSelectorAncestor : '#jp_container_535614ed1b9f8', swfPath : 'http://medicure.cmsmasters.net/wp-content/themes/medicure/css/', supplied : 'mp3, m4a, ogg, oga, webm, webma, wav', wmode : 'window' } ); } );
									#jquery_jplayer_535614ed1b9f8.jp-jplayer(style="display:none;")
									#jp_container_535614ed1b9f8.jp-audio
										.jp-type-single
											.jp-gui.jp-interface
												.jp-progress
													.jp-seek-bar
														.jp-play-bar
  
												.jp-duration
												.jp-time-sep &nbsp;/&nbsp;
												.jp-current-time
												.jp-controls-holder
													ul.jp-controls
														li
															a.jp-play(href="javascript:;" tabindex="1" title="Play")
																span Play
														li
															a.jp-pause(href="javascript:;" tabindex="1" title="Pause")
																span Pause
														li
															a.jp-stop(href="javascript:;" tabindex="1" title="Stop")
																span Stop

													.jp-volume-bar
														.jp-volume-bar-value

													ul.jp-toggles
														li
															a.jp-mute(href="javascript:;" tabindex="1" title="Mute")
																span Mute
														li
															a.jp-unmute(href="javascript:;" tabindex="1" title="Unmute")
																span Unmute

											.jp-title
												ul
													li

											.jp-no-solution
												span Update Required
												To play the media you will need to either update your browser to a recent version or update your
												a(href="http://get.adobe.com/flashplayer/" target="_blank") Flash plugin.

								h2.entry-title
									a(href="openpost.html") Audio Post Format

								.cmsms_post_info
									span.user_name
										By
										a(href="#" title="Posts by Roshelle Beckwith" rel="author") rbeckwith

									span.cmsms_post_meta_divider &nbsp;/&nbsp;
									span.cmsms_category
										In
										a(href="openpost.html" title="View all posts in Blog" rel="category tag") Blog,
										a(href="openpost.html" title="View all posts in Medical" rel="category tag") Medical,
										a(href="openpost.html" title="View all posts in Text posts" rel="category tag") Text posts

							.entry-content
								p Easily post your audio files of any format. Media used in demo: © 2003 Miaow / Arnaud Laflaquiere &#8211; MiaowMusic.com

							a.more_button(href="openpost.html") Read More
							.cl
							.divider
							footer.entry-meta

					// _________________________ Finish Audio Article _________________________

					// _________________________ Start Quote Article _________________________
					article.post.type-post.status-publish.format-quote.hentry.category-blog-post.category-medical.category-text-posts.tag-how-to-quote.tag-quotes-in-post
						.cmsms_info
							span.cmsms_post_format_img
							.cmsms_like
								a#cmsmsLike-489.cmsmsLike.active(href="#" onclick="return false;")
									span 7

							abbr.published(title="March 6, 2015")
								span.cmsms_page_day 6
								span.cmsms_page_year 2015
								span.cmsms_page_month Mar

						.ovh
							header.entry-header
								blockquote
									p Just like anything else, medicine is helpful, when used on time, in a correct way and believed in.
								.cmsms_author rbeckwith

							footer.entry-meta
								.cmsms_post_info
									span.user_name
										By
										a(href="#" title="Posts by Roshelle Beckwith" rel="author") rbeckwith

									span.cmsms_post_meta_divider &nbsp;/&nbsp;
									span.cmsms_category
										In 
										a(href="openpost.html" title="View all posts in Blog" rel="category tag") Blog,
										a(href="openpost.html" title="View all posts in Medical" rel="category tag") Medical,
										a href="openpost.html" title="View all posts in Text posts" rel="category tag") Text posts
					// _________________________ Finish Quote Article _________________________

					// _________________________ Start Link Article _________________________
					article.post.type-post.status-publish.format-link.hentry.category-blog-post.category-medical.category-text-posts.tag-link-to.tag-links-in-post
						.cmsms_info
							span.cmsms_post_format_img
							.cmsms_like
								a#cmsmsLike-495.cmsmsLike active(href="#" onclick="return false;")
									span 9

							abbr.published(title="March 5, 2015")
								span.cmsms_page_day 5
								span.cmsms_page_year 2015
								span.cmsms_page_month Mar

						.ovh
							h2.entry-title
								a(href="#" target="_blank") [Link] Our clients

							h6 - http://happyclients.net/user/leesburguc/portfolio?ref=leesburguc -
							header.entry-header
								.cmsms_post_info
									span.user_name
										By
										a(href="#" title="Posts by Roshelle Beckwith" rel="author") rbeckwith

									span.cmsms_post_meta_divider &nbsp;/&nbsp;
									span.cmsms_category
										In 
										a(href="openpost.html" title="View all posts in Blog" rel="category tag") Blog,
										a(href="openpost.html" title="View all posts in Medical" rel="category tag") Medical,
										a(href="openpost.html" title="View all posts in Text posts" rel="category tag") Text posts

							.entry-content
								p See our works on Themeforest
							a.more_button(href="openpost.html") Read More
							.cl
							.divider
							footer.entry-meta
					// _________________________ Finish Link Article _________________________

					// _________________________ Start Quote Article _________________________
					article.post.type-post.status-publish.format-quote.hentry.category-blog-post.category-standard.category-text-posts.category-uncategorized
						.cmsms_info
							span.cmsms_post_format_img
							.cmsms_like
								a#cmsmsLike-2759.cmsmsLike active(href="#" onclick="return false;")
									span 2
							abbr.published(title="March 4, 2015")
								span.cmsms_page_day 4
								span.cmsms_page_year 2015
								span.cmsms_page_month Mar

						.ovh
							header.entry-header
								blockquote
									p Having extended original functionality, we created an all-in-one tool for website management.

								.cmsms_author rbeckwith

							footer.entry-meta
								.cmsms_post_info
									span.user_name
										By
										a(href="#" title="Posts by Roshelle Beckwith" rel="author") rbeckwith

									span.cmsms_post_meta_divider &nbsp;/&nbsp;
									span.cmsms_category
										In
										a(href="openpost.html" title="View all posts in Blog" rel="category tag") Blog,
										a(href="openpost.html" title="View all posts in standard" rel="category tag") standard,
										a(href="openpost.html" title="View all posts in Text posts" rel="category tag") Text posts,
										a(href="openpost.html" title="View all posts in Uncategorized" rel="category tag") Uncategorized

					// _________________________ Finish Quote Article _________________________

					// _________________________ Start Image Article _________________________
					// article.post.type-post.status-publish.format-image.hentry.category-blog-post.category-medical.tag-image-2.tag-photo
						.cmsms_info
							span.cmsms_post_format_img
							.cmsms_like
								a#cmsmsLike-506.cmsmsLike(href="#" onclick="cmsmsLike(506); return false;")
									span 8

							abbr.published(title="November 21, 2011")
								span.cmsms_page_day 21
								span.cmsms_page_year 2011
								span.cmsms_page_month Nov

						.ovh
							header.entry-header
								figure
									a.preloader.highImg.jackbox(href="images/happy-baby-s-710400.jpg" data-group="img_506" title="Image Post Format")
										img.fullwidth.wp-post-image(width="710" height="400" src="images/happy-baby-s-710400-710x400.jpg" alt="Image Post Format" title="Image Post Format")

								h2.entry-title
									a(href="openpost.html") Image Post Format

								.cmsms_post_info
									span.user_name
										By
										a(href="openpost.html" title="Posts by Roshelle Beckwith" rel="author") rbeckwith

									span.cmsms_post_meta_divider &nbsp;/&nbsp;
									span.cmsms_category
										In
										a(href="blog.html" title="View all posts in Blog" rel="category tag") Blog,
										a(href="openpost.html" title="View all posts in Medical" rel="category tag") Medical

							.entry-content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia deleniti blanditiis possimus eligendi, provident atque in enim optio ratione necessitatibus voluptatibus maxime totam consequatur eaque porro ullam dolores veniam fugit animi, qui dolore libero. Perferendis expedita explicabo, architecto fugiat, cupiditate voluptate maiores doloribus nemo nisi illum id quas, iure debitis?

							a.more_button(href="openpost.html") Read More
							.cl
							.divider
							footer.entry-meta

					// _________________________ Finish Image Article _________________________

		// _________________________ Finish Content _________________________

		// _________________________ Start Sidebar _________________________
		sidebar
		// _________________________ Finish Sidebar _________________________

		.cl
// _________________________ Finish Middle _________________________
