// _________________________ Start Middle _________________________
section#middle
	.headline
		h1 Doctors
	.cmsms_breadcrumbs
		a.cms_home(ui-sref="main") Home
		span.breadcrumbs_sep &nbsp;/&nbsp;
		span Doctors

	.content_wrap.fullwidth

		// _________________________ Start Content _________________________
		section#middle_content(role="main")
			.entry
				.cmsms_cc
					our-doctors
		// _________________________ Finish Content _________________________

		.cl
// _________________________ Finish Middle _________________________
