section#middle
section#top
	.wrap_rev_slider
		// REVOLUTION SLIDER 4.1.4 fullwidth mode
		revolution-slider
		.cl

top-sidebar

.content_wrap.fullwidth
	// _________________________ Start Content _________________________
	section#middle_content(role="main")
		.entry
			.cmsms_cc
				services
				.one_first.first_column
					// latest-services
				.one_half.first_column
					latest-news
				.one_half
					testimonials
				.one_first.first_column
					h3 Our Doctors
				// Insert our doctors
				our-doctors
	// _________________________ Finish Content _________________________
	.cl
