.contact_widget_phone > span,
.contact_widget_email > span {width: 1%;}

#box_color_1 {background-color: #56cce1;}
#box_color_2 {background-color: #2cbfd9;}
#box_color_3 {background-color: #2ca6d9;}
#box_color_4 {background-color: #1b90da;}

.content_icon.icon-glyph-2:before{color:#2ca6d9;}
.content_icon.icon-glyph-3:before{color:#2cbfd9;}
.content_icon.icon-glyph-4:before{color:#2ca6d9;}
.content_icon.icon-glyph-5:before{color:#2cbfd9;}

#text-2 .textwidget h1,
#text-2 .textwidget h4 {
	text-align:center;
}
#text-2 .textwidget h1 {color:#1b90da;}
#text-2 .textwidget h4 {color:#898989;}

.post.type-post.one_fourth .cmsms_post_type_img > img {
	width:130px;
	height:130px;
}

.type-testimonial img.type-testimonial {
	width:60px;
	height:60px;
}

.textwidget #pb_35 {padding-bottom:35px;}


.contact_widget_phone > span,
.contact_widget_email > span {width: 1%;}

.colored_title_inner h2 > span {font-size: x-large;}

#percent_item_1 .percent_item_colored_wrap {width:92%;}
#percent_item_1 .percent_item_colored {background-color:#2cbfd9;}
#percent_item_2 .percent_item_colored_wrap {width:64%;}
#percent_item_2 .percent_item_colored {background-color:#56cce1;}
#percent_item_3 .percent_item_colored_wrap {width:87%;}
#percent_item_3 .percent_item_colored {background-color:#2ca6d9;}
#percent_item_4 .percent_item_colored_wrap {width:75%;}
#percent_item_4 .percent_item_colored {background-color:#1b90da;}
#percent_item_5 .percent_item_colored_wrap {width:82%;}
#percent_item_5 .percent_item_colored {background-color:#3d8dd8;}
#percent_item_6 .percent_item_colored_wrap {width:55%;}
#percent_item_6 .percent_item_colored {background-color:#5891df;}

.post.type-post.one_fourth .cmsms_post_type_img > img {
	width:130px;
	height:130px;
}

.textwidget #pb_35 {padding-bottom:35px;}


.w100 {width: 100%;}

.contact_widget_phone > span,
.contact_widget_email > span {width: 1%;}

.tabs_tab li figure img {
	width:50px;
	height:50px;
}

.rel_post_content a img {
	width:100px;
	height:100px;
}

.type-post .cmsms_post_type_img img {
	width:130px;
	height:130px;
}

.colored_title_inner h2 > span {font-size: x-large;}

.textwidget #pb_35 {padding-bottom:35px;}


.contact_widget_phone > span,
.contact_widget_email > span {width: 1%;}

.tabs_tab li figure img {
	width:50px;
	height:50px;
}

.textwidget #pb_35 {padding-bottom:35px;}


.contact_widget_phone > span,
.contact_widget_email > span {width: 1%;}

.tabs_tab li figure img {
	width:50px;
	height:50px;
}

.textwidget #pb_35 {padding-bottom:35px;}
