<!-- _________________________ Start Middle _________________________ -->
<section id="middle" class="services_page">

	<div class="headline">
		<h1>{{ doctor.firstname + " " + doctor.lastname }}</h1>
	</div>
	<div class="cmsms_breadcrumbs">
		<a ui-sref="main" class="cms_home">Home</a>
		<span class="breadcrumbs_sep">/</span>
		<span>{{ doctor.firstname + " " + doctor.lastname }}</span>
	</div>
	<div class="content_wrap service_page">

		<!--_________________________ Start Content _________________________ -->
		<section id="middle_content" role="main">
			<div class="entry">
				<section class="opened-article">

					<!--_________________________ Start Album Service _________________________ -->
					<article class="service type-service status-publish hentry format-album cmsms_one">
						<div class="service_content with_s_side_bar">
							<div class="resize">
								<figure>
									<a href="{{ doctor.imageLarge }}" data-group="img_5906" title="{{ doctor.title + " " + doctor.firstname + " " + doctor.lastname }}" class="preloade highImg jackbox">
										<img width="820" height="465" src="{{ doctor.imageLarge }}" class="fullwidth" alt="{{ doctor.title + " " + doctor.firstname + " " + doctor.lastname }}" title="{{ doctor.title + " " + doctor.firstname + " " + doctor.lastname }}" />
									</a>
								</figure>
								<div class="cl"></div>
							</div>
							<div class="entry-content">
								<div class="cmsms_cc">
									<div class="one_first first_column">
										<div class="wrap_social_icons">
											<ul class="social_icons">
												<li><a title="#" href="#" target="_blank"><img alt="#" src="images/img/facebook.png"></a></li><li><a title="#" href="#" target="_blank"><img alt="#" src="images/img/twitter.png"></a></li><li><a title="#" href="#" target="_blank"><img alt="#" src="images/img/rss.png"></a></li><li><a title="#" href="#" target="_blank"><img alt="#" src="images/img/linkedin.png"></a></li><li><a title="#" href="#" target="_blank"><img alt="#" src="images/img/skype.png"></a></li>
											</ul>
											<div class="cl"></div>
										</div>
										<br>
										<!-- Lorem ipsum dolor sit amet, cnsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
										<!-- Doctor Beckwith worked as an emergency room physician since 2008, and as such she is acustomed to see very sick people and children -->
										<h4>
											<p>Hi, I'm doctor {{ doctor.lastname }}!</p>
											<p>{{ doctor.description }}</p>
										</h4>
									</div>
									<div class="one_first first_column">
										<div class="cl"></div>
									</div>
									<div class="one_first first_column">
										<h3>Appointment Request</h3>
									</div>
									<div class="one_first first_column">
										<div class="cmsms-form-builder">
											<aside class="box success_box" style="display:none;">
												<div>
													<div></div>
													<div>
														<p>
															Thank You!
															<br />
															Your message has been sent successfully.
														</p>
													</div>
												</div>
											</aside>
											<script type="text/javascript">
												// jQuery(document).ready(function () {
												// 	jQuery('#form_test_contact_form_760373284202473500').validationEngine('init');
												// 	jQuery('#form_test_contact_form_760373284202473500 a#test_contact_form_760373284202473500_formsend').click(function () {
												// 		jQuery('#form_test_contact_form_760373284202473500 .loading').animate( { opacity : 1 } , 250);
												// 		if (jQuery('#form_test_contact_form_760373284202473500').validationEngine('validate')) {
												// 			jQuery.post('php/sendmail.php', {
												// 				field_897900708169259500 : jQuery('#field_897900708169259500').val(),
												// 				name_test_contact_form_760373284202473500_904291485900320000 : jQuery('#name_test_contact_form_760373284202473500_904291485900320000').val(),
												// 				name_test_contact_form_760373284202473500_250315843259674500 : jQuery('#name_test_contact_form_760373284202473500_250315843259674500').val(),
												// 				name_test_contact_form_760373284202473500_71395285589975210 : jQuery('#name_test_contact_form_760373284202473500_71395285589975210').val(),
												// 				name_test_contact_form_760373284202473500_202610687113029220 : jQuery('#name_test_contact_form_760373284202473500_202610687113029220').val(),
												// 				name_test_contact_form_760373284202473500_363333091577736640 : jQuery('#name_test_contact_form_760373284202473500_363333091577736640').val(),
												// 				contactemail : 'dGVzdF9jb250YWN0X2Zvcm1fNzYwMzczMjg0MjAyNDczNTAwfHRlc3RAdGVzdC5jb218dGVzdF9jb250YWN0X2Zvcm1fNzYwMzczMjg0MjAyNDczNTAw',
												// 				formname : 'test_contact_form_760373284202473500'
												// 			}, function (data) {
												// 				jQuery('#form_test_contact_form_760373284202473500 .loading').animate( { opacity : 0 } , 250);
												// 				jQuery('#form_test_contact_form_760373284202473500').fadeOut('slow');
												// 				document.getElementById('form_test_contact_form_760373284202473500').reset();
												// 				jQuery('#form_test_contact_form_760373284202473500').parent().find('.box').hide();
												// 				jQuery('#form_test_contact_form_760373284202473500').parent().find('.success_box').fadeIn('fast');
												// 				jQuery('html, body').animate( { scrollTop : jQuery('#form_test_contact_form_760373284202473500').offset().top - 140 } , 'slow');
												// 				jQuery('#form_test_contact_form_760373284202473500').parent().find('.success_box').delay(5000).fadeOut(1000, function () {
												// 					jQuery('#form_test_contact_form_760373284202473500').fadeIn('slow');
												// 				} );
												// 			} );
												// 			return false;
												// 		} else {
												// 			jQuery('#form_test_contact_form_760373284202473500 .loading').animate( { opacity : 0 } , 250);
												// 			return false;
												// 		}
												// 	} );
												// } );
											</script>
											<form action="#" method="post" id="form_test_contact_form_760373284202473500">
												<div class="form_info cmsms_select">
													<label>Select Department</label>
													<div class="form_field_wrap">
														<select name="field_897900708169259500" id="field_897900708169259500">
															<option value="Pediatric Clinic">Pediatric Clinic</option>
															<option value="Diagnosis Clinic">Diagnosis Clinic</option>
															<option value="Cardiac Clinic">Cardiac Clinic</option>
															<option value="Medical Pharmacy">Medical Pharmacy</option>
															<option value="Family Doctor">Family Doctor</option>
															<option value="Rehabilitation Therapy">Rehabilitation Therapy</option>
															<option value="Laryngological Clinic">Laryngological Clinic</option>
														</select>
													</div>
													<div class="cl"></div>
												</div>
												<div class="form_info cmsms_input">
													<label for="name_test_contact_form_760373284202473500_904291485900320000">First Name</label>
													<div class="form_field_wrap">
														<input type="text" name="name_test_contact_form_760373284202473500_904291485900320000" id="name_test_contact_form_760373284202473500_904291485900320000" value="" />
													</div>
												</div>
												<div class="form_info cmsms_input">
													<label for="name_test_contact_form_760373284202473500_250315843259674500">Last Name</label>
													<div class="form_field_wrap">
														<input type="text" name="name_test_contact_form_760373284202473500_250315843259674500" id="name_test_contact_form_760373284202473500_250315843259674500" value="" />
													</div>
												</div>

												<div class="form_info cmsms_input">
													<label for="name_test_contact_form_760373284202473500_71395285589975210">Your Phone</label>
													<div class="form_field_wrap">
														<input type="text" name="name_test_contact_form_760373284202473500_71395285589975210" id="name_test_contact_form_760373284202473500_71395285589975210" value="" />
													</div>
												</div>
												<div class="form_info cmsms_input">
													<label for="name_test_contact_form_760373284202473500_202610687113029220">Your Email</label>
													<div class="form_field_wrap">
														<input type="text" name="name_test_contact_form_760373284202473500_202610687113029220" id="name_test_contact_form_760373284202473500_202610687113029220" value="" />
													</div>
												</div>
												<div class="form_info cmsms_input">
													<label for="name_test_contact_form_760373284202473500_363333091577736640">Appointment Date</label>
													<div class="form_field_wrap">
														<input type="text" name="name_test_contact_form_760373284202473500_363333091577736640" id="name_test_contact_form_760373284202473500_363333091577736640" value="" />
													</div>
												</div>
												<div class="loading"></div>
												<div class="cl"></div>
												<div class="fl">
													<a id="test_contact_form_760373284202473500_formsend" class="button_small" href="#">Send Message</a>
												</div>
												<div class="cl"></div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<footer class="entry-meta service_sidebar">
							<div class="cmsms_features">
								<h3>Information</h3>
								<div class="cmsms_features_item">
									<span class="cmsms_features_item_title">Speciality</span>
									<span class="cmsms_features_item_desc">{{ doctor.speciality }}</span>
								</div>
								<div class="cmsms_features_item">
									<span class="cmsms_features_item_title">Title</span>
									<span class="cmsms_features_item_desc">{{ doctor.degree }}</span>
								</div>
								<div class="cmsms_features_item">
									<span class="cmsms_features_item_title">Education</span>
									<span class="cmsms_features_item_desc">{{ doctor.education }}</span>
								</div>
								<div class="cmsms_features_item">
									<span class="cmsms_features_item_title">Phone</span>
									<span class="cmsms_features_item_desc">(703) 687-4158</span>
								</div>
								<div class="cmsms_features_item">
									<span class="cmsms_features_item_title">Email</span>
									<span class="cmsms_features_item_desc">{{ doctor.email }}</span>
								</div>
							</div>
							<div class="cmsms_features">
								<h3>Open Hours</h3>
								<div class="cmsms_features_item">
									<span class="cmsms_features_item_title">Monday - Friday</span>
									<span class="cmsms_features_item_desc">10 am to 8 pm</span>
								</div>
								<div class="cmsms_features_item">
									<span class="cmsms_features_item_title">Saturday</span>
									<span class="cmsms_features_item_desc">10 am to 8 pm</span>
								</div>
								<div class="cmsms_features_item">
									<span class="cmsms_features_item_title">Sunday</span>
									<span class="cmsms_features_item_desc">10 am to 8 pm</span>
								</div>
							</div>
							<!-- <div class="cmsms_features">
								<h3>Prices</h3>
								<div class="cmsms_features_item">
									<span class="cmsms_features_item_title">Сonsultation</span>
									<span class="cmsms_features_item_desc">$50</span>
								</div>
								<div class="cmsms_features_item">
									<span class="cmsms_features_item_title">Diagnostics</span>
									<span class="cmsms_features_item_desc">$110</span>
								</div>
								<div class="cmsms_features_item">
									<span class="cmsms_features_item_title">Allergy testing</span>
									<span class="cmsms_features_item_desc">$80</span>
								</div>
							</div> -->
						</footer>
						<div class="cl"></div>
					</article>
					<!--_________________________ Finish Album Service _________________________ -->

					<aside class="share_posts">
						<h3>Like this service?</h3>

						<div class="fl">
							<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
							<script type="text/javascript">
								// !function (d, s, id) {
								// 	var js = undefined,
								// 		fjs = d.getElementsByTagName(s)[0];
								//
								// 	if (d.getElementById(id)) {
								// 		d.getElementById(id).parentNode.removeChild(d.getElementById(id));
								// 	}
								//
								// 	js = d.createElement(s);
								// 	js.id = id;
								// 	js.src = '//platform.twitter.com/widgets.js';
								//
								// 	fjs.parentNode.insertBefore(js, fjs);
								// } (document, 'script', 'twitter-wjs');
							</script>
						</div>
						<div class="fl">
							<div class="g-plusone" data-size="medium"></div>
							<script type="text/javascript">
								// (function () {
								// 	var po = document.createElement('script'),
								// 		s = document.getElementsByTagName('script')[0];
								//
								// 	po.type = 'text/javascript';
								// 	po.async = true;
								// 	po.src = 'https://apis.google.com/js/plusone.js';
								//
								// 	s.parentNode.insertBefore(po, s);
								// } )();
							</script>
						</div>
						<div class="fl">
							<a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fdr-michael-linden.html" class="pin-it-button">
								<img border="0" src="//assets.pinterest.com/images/PinExt.png" alt="Pinterest" title="Pin It" />
							</a>
							<script type="text/javascript">
								// (function (d, s, id) {
								// 	var js = undefined,
								// 		fjs = d.getElementsByTagName(s)[0];
								//
								// 	if (d.getElementById(id)) {
								// 		d.getElementById(id).parentNode.removeChild(d.getElementById(id));
								// 	}
								//
								// 	js = d.createElement(s);
								// 	js.id = id;
								// 	js.src = '//assets.pinterest.com/js/pinit.js';
								//
								// 	fjs.parentNode.insertBefore(js, fjs);
								// } (document, 'script', 'pinterest-wjs'));
							</script>
						</div>
						<div class="fl">
							<div class="fb-like" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" data-font="arial"></div>
							<script type="text/javascript">
								// (function (d, s, id) {
								// 	var js = undefined,
								// 		fjs = d.getElementsByTagName(s)[0];
								//
								// 	if (d.getElementById(id)) {
								// 		d.getElementById(id).parentNode.removeChild(d.getElementById(id));
								// 	}
								//
								// 	js = d.createElement(s);
								// 	js.id = id;
								// 	js.src = '//connect.facebook.net/en_US/all.js#xfbml=1';
								//
								// 	fjs.parentNode.insertBefore(js, fjs);
								// } (document, 'script', 'facebook-jssdk'));
							</script>
						</div>
						<div class="cl"></div>
						<a class="cmsms_share button_small" href="#">
							<span>More sharing options</span>
						</a>
						<div class="cmsms_social cl"></div>
						<br />
						<br />
					</aside>
					<aside class="related_posts">
						<h3>More services</h3>
						<ul>
							<li>
								<a href="#" class="current">Popular</a>
							</li>
							<li>
								<a href="#">Latest</a>
							</li>
						</ul>
						<div class="related_posts_content">
							<div class="related_posts_content_tab" style="display:block;">
								<div class="one_half">
									<div class="rel_post_content">
										<figure class="alignleft">
											<a href="diagnosis_clinic.html" title="Pediatric Clinic">
												<img width="100" height="100" src="images/happy-baby-s-150x150.jpg" class="attachment-100x100 wp-post-image" alt="Pediatric Clinic" title="Pediatric Clinic" />
											</a>
										</figure>
										<h6>
											<a href="diagnosis_clinic.html" title="Pediatric Clinic">Pediatric Clinic</a>
										</h6>
									</div>
								</div>
								<div class="one_half last">
									<div class="rel_post_content">
										<figure class="alignleft">
											<a href="diagnosis_clinic.html" title="Diagnosis Clinic">
												<img width="100" height="100" src="images/stethoscope-on-clipboard-s-150x150.jpg" class="attachment-100x100 wp-post-image" alt="Diagnosis Clinic" title="Diagnosis Clinic" />
											</a>
										</figure>
										<h6>
											<a href="diagnosis_clinic.html" title="Diagnosis Clinic">Diagnosis Clinic</a>
										</h6>
									</div>
								</div>
								<div class="cl"></div>
								<div class="one_half">
									<div class="rel_post_content">
										<figure class="alignleft">
											<a href="diagnosis_clinic.html" title="Dental Clinic">
												<img width="100" height="100" src="images/smiling-doctor-with-chin-on-hand-s-150x150.jpg" class="attachment-100x100 wp-post-image" alt="Dental Clinic" title="Dental Clinic" />
											</a>
										</figure>
										<h6>
											<a href="diagnosis_clinic.html" title="Dental Clinic">Dental Clinic</a>
										</h6>
									</div>
								</div>
								<div class="one_half last">
									<div class="rel_post_content">
										<figure class="alignleft">
											<a href="diagnosis_clinic.html" title="Laboratory Analysis">
												<img width="100" height="100" src="images/biochemical-research-s-150x150.jpg" class="attachment-100x100 wp-post-image" alt="Laboratory Analysis" title="Laboratory Analysis" />
											</a>
										</figure>
										<h6>
											<a href="diagnosis_clinic.html" title="Laboratory Analysis">Laboratory Analysis</a>
										</h6>
									</div>
								</div>
								<div class="cl"></div>
							</div>
							<div class="related_posts_content_tab">
								<div class="one_half">
									<div class="rel_post_content">
										<figure class="alignleft">
											<a href="dr_michael_linden.html" title="Dr. Jack Zerriper">
												<img width="100" height="100" src="images/successful-physician-s-2-150x150.jpg" class="attachment-100x100 wp-post-image" alt="Dr. Jack Zerriper" title="Dr. Jack Zerriper" />
											</a>
										</figure>
										<h6>
											<a href="dr_michael_linden.html" title="Dr. Jack Zerriper">Dr. Jack Zerriper</a>
										</h6>
									</div>
								</div>
								<div class="one_half last">
									<div class="rel_post_content">
										<figure class="alignleft">
											<a href="dr_michael_linden.html" title="Dr. Jack Simmons">
												<img src="images/img/PF-placeholder.jpg" alt="Dr. Jack Simmons" title="Dr. Jack Simmons" />
											</a>
										</figure>
										<h6>
											<a href="dr_michael_linden.html" title="Dr. Jack Simmons">Dr. Jack Simmons</a>
										</h6>
									</div>
								</div>
								<div class="cl"></div>
								<div class="one_half">
									<div class="rel_post_content">
										<figure class="alignleft">
											<a href="dr_michael_linden.html" title="Dr. Karen Dawson">
												<img width="100" height="100" src="images/female-practitioner-s-11-150x150.jpg" class="attachment-100x100 wp-post-image" alt="Dr. Karen Dawson" title="Dr. Karen Dawson" />
											</a>
										</figure>
										<h6>
											<a href="dr_michael_linden.html" title="Dr. Karen Dawson">Dr. Karen Dawson</a>
										</h6>
									</div>
								</div>
								<div class="one_half last">
									<div class="rel_post_content">
										<figure class="alignleft">
											<a href="diagnosis_clinic.html" title="Pediatric Clinic">
												<img width="100" height="100" src="images/happy-baby-s-150x150.jpg" class="attachment-100x100 wp-post-image" alt="Pediatric Clinic" title="Pediatric Clinic" />
											</a>
										</figure>
										<h6>
											<a href="diagnosis_clinic.html" title="Pediatric Clinic">Pediatric Clinic</a>
										</h6>
									</div>
								</div>
								<div class="cl"></div>
							</div>
						</div>
					</aside>
				</section>
			</div>
		</section>
		<!-- _________________________ Finish Content _________________________ -->

		<div class="cl"></div>
	</div>
</section>
<!-- _________________________ Finish Middle _________________________ -->
