<!-- _________________________ Start Middle _________________________ -->
<section id="middle">
	<div class="headline">
		<h1>Doctors</h1>
	</div>
	<div class="cmsms_breadcrumbs">
		<a href="index.html" class="cms_home">Home</a>
		<span class="breadcrumbs_sep">/</span>
		<span>Doctors</span>
	</div>
	<div class="content_wrap fullwidth">

		<!--_________________________ Start Content _________________________ -->
		<section id="middle_content" role="main">
			<div class="entry">
				<div class="cmsms_cc">
					<div class="one_fourth first_column">
						<div class="cmsms_our_team_wrap">
							<div class="cmsms_our_team">
								<div class="wrap_person">
									<figure>
										<img width="440" height="440" src="images/female-practitioner-s-11-440x440.jpg" class="fullwidth" alt="female-practitioner-s-1" />
									</figure>
									<div class="cmsms_team_rollover glow_blue">
										<a ui-sref="doctor" class="cmsms_link">
											<span></span>
										</a>
									</div>
								</div>
								<header class="entry-header">
									<div>
										<h6 class="person_title">
											<a href="dr_michael_linden.html">Dr. Roshelle Beckwith</a>
										</h6>
										<p class="person_subtitle">Emergency Medicine</p>
									</div>
								</header>
								<footer class="entry-meta">
									<a href="#" title="facebook" target="_blank">
										<img src="images/img/facebook.png" alt="facebook" />
									</a>
									<a href="#" title="twitter" target="_blank">
										<img src="images/img/twitter.png" alt="twitter" />
									</a>
									<a href="#" title="skype" target="_blank">
										<img src="images/img/skype.png" alt="skype" />
									</a>
									<a href="#" title="linkedin" target="_blank">
										<img src="images/img/linkedin.png" alt="linkedin" />
									</a>
									<div class="cl"></div>
								</footer>
							</div>
						</div>
					</div>
					<div class="one_fourth">
						<div class="cmsms_our_team_wrap">
							<div class="cmsms_our_team">
								<div class="wrap_person">
									<figure>
										<img width="440" height="440" src="images/smiling-doctor-with-chin-on-hand-s-440x440.jpg" class="fullwidth" alt="smiling-doctor-with-chin-on-hand-s" />
									</figure>
									<div class="cmsms_team_rollover glow_blue">
										<a href="dr_michael_linden.html" class="cmsms_link">
											<span></span>
										</a>
									</div>
								</div>
								<header class="entry-header">
									<div>
										<h6 class="person_title">
											<a href="dr_michael_linden.html">Dr. Mathew Beckwith</a>
										</h6>
										<p class="person_subtitle">Family Medicine</p>
									</div>
								</header>
								<footer class="entry-meta">
									<a href="#" title="facebook" target="_blank">
										<img src="images/img/facebook.png" alt="facebook" />
									</a>
									<a href="#" title="twitter" target="_blank">
										<img src="images/img/twitter.png" alt="twitter" />
									</a>
									<a href="#" title="skype" target="_blank">
										<img src="images/img/skype.png" alt="skype" />
									</a>
									<a href="#" title="linkedin" target="_blank">
										<img src="images/img/linkedin.png" alt="linkedin" />
									</a>
									<div class="cl"></div>
								</footer>
							</div>
						</div>
					</div>
					<div class="one_fourth">
						<div class="cmsms_our_team_wrap">
							<div class="cmsms_our_team">
								<div class="wrap_person">
									<figure>
										<img width="440" height="440" src="images/successful-physician-s-2-440x440.jpg" class="fullwidth" alt="successful-physician-s-2" />
									</figure>
									<div class="cmsms_team_rollover glow_blue">
										<a href="dr_michael_linden.html" class="cmsms_link">
											<span></span>
										</a>
									</div>
								</div>
								<header class="entry-header">
									<div>
										<h6 class="person_title">
											<a href="dr_michael_linden.html">Dr. Rosanna Pau</a>
										</h6>
										<p class="person_subtitle">Emergency Medicine</p>
									</div>
								</header>
								<footer class="entry-meta">
									<a href="#" title="facebook" target="_blank">
										<img src="images/img/facebook.png" alt="facebook" />
									</a>
									<a href="#" title="twitter" target="_blank">
										<img src="images/img/twitter.png" alt="twitter" />
									</a>
									<a href="#" title="skype" target="_blank">
										<img src="images/img/skype.png" alt="skype" />
									</a>
									<a href="#" title="linkedin" target="_blank">
										<img src="images/img/linkedin.png" alt="linkedin" />
									</a>
									<div class="cl"></div>
								</footer>
							</div>
						</div>
					</div>
					<div class="one_fourth">
						<div class="cmsms_our_team_wrap">
							<div class="cmsms_our_team">
								<div class="wrap_person">
									<figure>
										<img width="440" height="440" src="images/male-doctor-440x440.jpg" class="fullwidth" alt="male-doctor" />
									</figure>
									<div class="cmsms_team_rollover glow_blue">
										<a href="dr_michael_linden.html" class="cmsms_link">
											<span></span>
										</a>
									</div>
								</div>
								<header class="entry-header">
									<div>
										<h6 class="person_title">
											<a href="dr_michael_linden.html">Dr. Brian Rader</a>
										</h6>
										<p class="person_subtitle">Emergency Medicine</p>
									</div>
								</header>
								<footer class="entry-meta">
									<a href="#" title="facebook" target="_blank">
										<img src="images/img/facebook.png" alt="facebook" />
									</a>
									<a href="#" title="twitter" target="_blank">
										<img src="images/img/twitter.png" alt="twitter" />
									</a>
									<a href="#" title="skype" target="_blank">
										<img src="images/img/skype.png" alt="skype" />
									</a>
									<a href="#" title="linkedin" target="_blank">
										<img src="images/img/linkedin.png" alt="linkedin" />
									</a>
									<div class="cl"></div>
								</footer>
							</div>
						</div>
					</div>
					<div class="one_fourth">
						<div class="cmsms_our_team_wrap">
							<div class="cmsms_our_team">
								<div class="wrap_person">
									<figure>
										<img width="440" height="440" src="images/male-doctor-440x440.jpg" class="fullwidth" alt="male-doctor" />
									</figure>
									<div class="cmsms_team_rollover glow_blue">
										<a href="dr_michael_linden.html" class="cmsms_link">
											<span></span>
										</a>
									</div>
								</div>
								<header class="entry-header">
									<div>
										<h6 class="person_title">
											<a href="dr_michael_linden.html">PA Patricia Micozzi</a>
										</h6>
										<p class="person_subtitle">Emergency Medicine</p>
									</div>
								</header>
								<footer class="entry-meta">
									<a href="#" title="facebook" target="_blank">
										<img src="images/img/facebook.png" alt="facebook" />
									</a>
									<a href="#" title="twitter" target="_blank">
										<img src="images/img/twitter.png" alt="twitter" />
									</a>
									<a href="#" title="skype" target="_blank">
										<img src="images/img/skype.png" alt="skype" />
									</a>
									<a href="#" title="linkedin" target="_blank">
										<img src="images/img/linkedin.png" alt="linkedin" />
									</a>
									<div class="cl"></div>
								</footer>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- _________________________ Finish Content _________________________ -->

		<div class="cl"></div>
	</div>
</section>
<!-- _________________________ Finish Middle _________________________ -->
