	<section id="middle">
	<section id="top">
		<div class="wrap_rev_slider">
			<!-- REVOLUTION SLIDER 4.1.4 fullwidth mode -->
			<revolution-slider></revolution-slider>
			<div class="cl"></div>
		</div>
	</section>

	<top-sidebar></top-sidebar>

	<div class="content_wrap fullwidth">
		<!--_________________________ Start Content _________________________ -->
		<section id="middle_content" role="main">
			<div class="entry">
				<div class="cmsms_cc">
					<div services></div>
					<div class="one_first first_column">
						<!-- <div latest-services></div> -->
					</div>
					<div class="one_half first_column">
						<div latest-news></div>
					</div>
					<div class="one_half">
						<!-- Insert Testimonials -->
						<div testimonials></div>
					</div>
					<div class="one_first first_column"><h3>Our Doctors</h3></div>
					<!-- Insert our doctors -->
					<div our-doctors></div>
				</div>
			</div>
		</section>
		<!-- _________________________ Finish Content _________________________ -->
		<div class="cl"></div>
	</div>
</section>
