<!-- _________________________ Start Middle _________________________ -->
<section id="middle">
	<div class="headline">
		<h1>About Us</h1>
	</div>
	<div class="cmsms_breadcrumbs">
		<a href="http://medicure.cmsmasters.net" class="cms_home">Home</a>
		<span class="breadcrumbs_sep">/</span>
		<span>About Us</span>
	</div>
	<div class="content_wrap fullwidth">

		<!--_________________________ Start Content _________________________ -->
		<section id="middle_content" role="main">
			<div class="entry">
				<div class="cmsms_cc">
					<div class="one_half first_column">
						<div class="shortcode_slideshow slider_shortcode" id="slideshow_534e7be48b9bf">
							<div class="shortcode_slideshow_body">
								<script type="text/javascript">jQuery(document).ready(function () { jQuery('#slideshow_534e7be48b9bf .shortcode_slideshow_slides').cmsmsResponsiveContentSlider( { sliderWidth : '100%', sliderHeight : 'auto', animationSpeed : 500, animationEffect : 'slide', animationEasing : 'easeInOutExpo', pauseTime : 7000, activeSlide : 1, pauseOnHover : false, touchControls : true, slidesNavigation : false, slidesNavigationHover : false, arrowNavigation : true, arrowNavigationHover : false } ); } );</script>
								<div class="shortcode_slideshow_container">
									<ul class="shortcode_slideshow_slides responsiveContentSlider">
										<li>
											<figure>
												<img width="948" height="534" src="images/Young-attractive-man-710400.jpg" class="fullwidth" alt="Young-attractive-man-710400" />
											</figure>
										</li>
										<li>
											<figure>
												<img width="948" height="534" src="images/consultation-s-710400.jpg" class="fullwidth" alt="consultation-s-710400" />
											</figure>
										</li>
										<li>
											<figure>
												<img width="991" height="559" src="images/biochemical-research-s-710400.jpg" class="fullwidth" alt="biochemical-research-s-710400" />
											</figure>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<br />
					</div>
					<div class="one_half">
						<h2>Welcome to Medicure</h2>
						<div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quia cumque sit culpa similique eum quibusdam, veritatis consectetur optio dolore sint est, mollitia id, maxime sunt blanditiis architecto iure totam rem molestiae. Id porro, corporis dolorum reiciendis? Temporibus iure totam quos debitis eveniet nemo molestiae dolorum! Veritatis quasi quis blanditiis quod repudiandae animi quam minus, praesentium ad dolorum rerum ut nostrum rem velit. Deserunt consequatur ut est numquam quibusdam eos ipsa iusto, ipsam dolorem voluptatum omnis dolorum cupiditate, laudantium repellat quos dolores eveniet! Cumque ex dicta voluptatum delectus.
							</p>
							<p>
								You can create a clinic website with Medicure theme, but you can as well use it for many other types of webstes, as it is highly flexible in customization. In any case, quality code, professional SEO and valid HTML5 and CSS3 are the key points that will push your website to top results in search. And yes, it is easy in use!
							</p>
							<p>&nbsp;</p>
						</div>
					</div>
					<div class="one_first first_column">
						<h3>Advantages</h3>
					</div>
					<div class="one_first first_column">
						<div class="tour_content">
							<ul class="tour">
								<li><a href="#"><span>Responsive Theme</span></a></li>
								<li><a href="#"><span>Form Builder Tool</span></a></li>
								<li><a href="#"><span>Many Shortcodes</span></a></li>
								<li><a href="#"><span>WYSIWYG Editor</span></a></li>
							</ul>
							<div class="tour_box_content">
								<div class="tour_box">
									<div class="tour_box_inner">
										<h4>
											<img class="alignleft max_width" alt="stethoscope-on-clipboard-s-1" src="images/stethoscope-on-clipboard-s-1-300x300.jpg" width="150" height="150">Responsive &amp; Retina</h4>
										<p>
											A 100% Responsive, with Retina ready, WordPress theme is guaranteed to have a great appearance on large desktop screens, as well as on mobile devices screens. Despite the screen resolution, all the elements on the web page look neat and clean, convenient to use too.
										</p>
									</div>
								</div>
								<div class="tour_box">
									<div class="tour_box_inner">
										<h4 dir="ltr">
											Easy Form Setup
											<img class="alignright max_width" alt="chemist-at-work" src="images/chemist-at-work-300x300.jpg" width="150" height="150"></h4>
										<p dir="ltr">
											A powerful Form Builder Tool, customly developed by CMSMasters, lets you create an unlimited amount of forms of different types and complexity, from simple contact forms to complex questionnaires with numerous fields, radio-buttons, checkboxes and dropdowns, text areas, as well as set validation for these fields.
										</p>
									</div>
								</div>
								<div class="tour_box">
									<div class="tour_box_inner">
										<h4 dir="ltr">
											<img class="alignleft max_width" alt="doctor-at-the-gym-s" src="images/doctor-at-the-gym-s-300x300.jpg" width="150" height="150">Extended Shortcodes Pack</h4>
										<p dir="ltr">
											Cmsmasters' custom WordPress theme admin panel includes a Super Extended Shortcodes pack for sophisticated content formatting and improved presentation. The widest collection of useful widgets allow you to improve your website’s interaction with visitors, bringing its functionality to a new level.
										</p>
									</div>
								</div>
								<div class="tour_box">
									<div class="tour_box_inner">
										<h4>
											WYSIWYG Customization
											<img class="alignright max_width" alt="happy-baby-s" src="images/happy-baby-s-300x300.jpg" width="150" height="150"></h4>
										<p>
											You can drag’n’drop content parts across through the website page with a handy WYSIWYG Content Composer, as well as easily edit their appearance, insert featured blocks, sliders, tables, various media etc. with one click. Create your custom pre-saved layout templates to use them over and over again. It is intuitive to use even for an amateur.
										</p>
									</div>
								</div>
							</div>
							<div class="cl"></div>
						</div>
					</div>
					<div class="one_first first_column">
						<div class="featured_block">
							<div class="colored_title">
								<div class="colored_title_inner">
									<h2>
										<span>Medicure - Medical &amp; Health Theme by Cmsmasters</span>
									</h2>
									<p>
										Aliquam convallis erat a enim dictum et vestibulum nibh rutrum. In mi nisi, hendrerit in pelleue pellentesque
									</p>
								</div>
							</div>
							<a class="colored_button" href="http://bit.ly/VTfYXx" title="Download!">
								<span>Download!</span>
								<span class="icon_banner"></span>
							</a>
						</div>
					</div>
					<div class="one_half first_column">
						<h3>Statistics</h3>
						<div class="percent_parent">
							<div id="percent_item_1" class="percent_item">
								<span class="percent_item_text">Ophthalmology</span>
								<div class="percent_item_colored_main_wrap">
									<div class="percent_item_colored_wrap">
										<div class="percent_item_colored">
											<span class="percent_item_text">92%</span>
										</div>
									</div>
								</div>
							</div>
							<div id="percent_item_2" class="percent_item">
								<span class="percent_item_text">Neurosurgery</span>
								<div class="percent_item_colored_main_wrap">
									<div class="percent_item_colored_wrap">
										<div class="percent_item_colored">
											<span class="percent_item_text">64%</span>
										</div>
									</div>
								</div>
							</div>
							<div id="percent_item_3" class="percent_item">
								<span class="percent_item_text">Gynecology</span>
								<div class="percent_item_colored_main_wrap">
									<div class="percent_item_colored_wrap">
										<div class="percent_item_colored">
											<span class="percent_item_text">87%</span>
										</div>
									</div>
								</div>
							</div>
							<div id="percent_item_4" class="percent_item">
								<span class="percent_item_text">Surgery</span>
								<div class="percent_item_colored_main_wrap">
									<div class="percent_item_colored_wrap">
										<div class="percent_item_colored">
											<span class="percent_item_text">75%</span>
										</div>
									</div>
								</div>
							</div>
							<div id="percent_item_5" class="percent_item">
								<span class="percent_item_text">Psychotherapy</span>
								<div class="percent_item_colored_main_wrap">
									<div class="percent_item_colored_wrap">
										<div class="percent_item_colored">
											<span class="percent_item_text">82%</span>
										</div>
									</div>
								</div>
							</div>
							<div id="percent_item_6" class="percent_item">
								<span class="percent_item_text">Radiography</span>
								<div class="percent_item_colored_main_wrap">
									<div class="percent_item_colored_wrap">
										<div class="percent_item_colored">
											<span class="percent_item_text">55%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="one_half">
						<section class="post_type_shortcode type_post">
							<div class="post_type_shortcode_inner">
								<h3>Latest News&nbsp;&nbsp;</h3>
								<article class="post type-post status-publish format-standard hentry category-home-post category-medical one_fourth">
									<figure class="cmsms_post_type_img">
										<img width="150" height="150" src="images/stethoscope-on-clipboard-s-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Center for Medical Technology Innovation" title="Center for Medical Technology Innovation" />
									</figure>
									<header class="entry-header">
										<h4 class="entry-title">
											<a href="posttype.html">Center for Medical Technology Innovation</a>
										</h4>
										<div class="cmsms_post_info"> <abbr class="published" title="January 24, 2014">January 24, 2014</abbr>
											<span class="cmsms_comments_wrap">
												Comments (
												<a class="cmsms_comments" href="#" title="Comment on Center for Medical Technology Innovation">0</a>
												)
											</span>
										</div>
									</header>
									<div class="entry-content">
										<p>
											Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought.
										</p>
									</div>
								</article>
								<article class="post type-post status-publish format-standard hentry category-home-post category-medical one_fourth">
									<figure class="cmsms_post_type_img">
										<img width="150" height="150" src="images/doctor-at-the-gym-710400-1-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Nutritional Personal Consultation" title="Nutritional Personal Consultation" />
									</figure>
									<header class="entry-header">
										<h4 class="entry-title">
											<a href="posttype.html">Nutritional Personal Consultation</a>
										</h4>
										<div class="cmsms_post_info"> <abbr class="published" title="January 24, 2014">January 24, 2014</abbr>
											<span class="cmsms_comments_wrap">
												Comments (
												<a class="cmsms_comments" href="#" title="Comment on Nutritional Personal Consultation">0</a>
												)
											</span>
										</div>
									</header>
									<div class="entry-content">
										<p>
											You can create a clinic website with Medicure theme, but you can as well use it for many other types of webstes, as it is highly flexible in customization.
										</p>
									</div>
								</article>
								<div class="cl"></div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
		<!-- _________________________ Finish Content _________________________ -->

		<div class="cl"></div>
	</div>
</section>
<!-- _________________________ Finish Middle _________________________ -->
