<div class="one_first first_column"><h3>Advantages</h3></div>

<div class="one_first first_column">
    <div class="tour_content" ng-init="selected = 1">
        <ul class="tour">
            <li ng-click="selected = 1" ng-class="{current: selected == 1}"><a href="#"><span>WHY METROMED UC?</span></a></li>
            <li ng-click="selected = 2" ng-class="{current: selected == 2}"><a href="#"><span>WHAT TO EXPECT</span></a></li>
            <li ng-click="selected = 3" ng-class="{current: selected == 3}"><a href="#"><span>VIDEO CHAT</span></a></li>
            <li ng-click="selected = 4" ng-class="{current: selected == 4}"><a href="#"><span>CASH &amp; CARDS</span></a></li>
        </ul>

        <div class="tour_box_content">

            <div class="tour_box slide-animation" ng-style="{display:'block'}" ng-show="selected == 1">
                <div class="tour_box_inner">
                    <h4><img class="alignleft max_width" alt="stethoscope-on-clipboard-s-1" src="images/stethoscope-on-clipboard-s-1-300x300.jpg" width="150" height="150">Why MetroMed Urgent Care?</h4>
                    <p>We realize that patients with non-threatening illness or injuries can be treated just as well and with the same diagnostic testing that hospital emergency departments provide, but without the chaos and long waits associated with traditional ER visits. Fees at MetroMed Urgent Care are also almost half of those charged by hospital emergency rooms.</p>
                </div>
            </div>

            <div class="tour_box slide-animation" ng-style="{display:'block'}" ng-show="selected == 2" ng-animate="{enter: 'mycss-animation'}">
                <div class="tour_box_inner">
                    <h4 dir="ltr">What To Expect<img class="alignright max_width" alt="chemist-at-work" src="images/chemist-at-work-300x300.jpg" width="150" height="150"></h4>
                    <p dir="ltr">We are here to help take care of the many of non-life-threatening emergencies that are common among adults and children of all ages (including infants). We do our best to keep the paperwork to a minimum so that you can get on with getting better.</p>
                </div>
            </div>

            <div class="tour_box" ng-style="{display:'block'}" ng-show="selected == 3">
                <div class="tour_box_inner">
                    <h4 dir="ltr">Video Chat<img class="alignleft max_width" alt="doctor-at-the-gym-s" src="images/doctor-at-the-gym-s-300x300.jpg" width="150" height="150"></h4>
                    <p dir="ltr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

            <div class="tour_box" ng-style="{display:'block'}" ng-show="selected == 4">
                <div class="tour_box_inner">
                    <h4>Cash and Credit Cards<img class="alignright max_width" alt="happy-baby-s" src="images/happy-baby-s-300x300.jpg" width="150" height="150"></h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>

        </div>
        <div class="cl"></div>
    </div>
</div>
