<div id="cmsms_latest_bottom_tweets">
	<div class="cmsms_latest_bottom_tweets_inner">
		<span class="tweets_icon"></span>
		<ul class="jta-tweet-list responsiveContentSlider">
			<li class="jta-tweet-list-item">
				If you are choosing a medical center, Leesburg Urgent Care is the one I would recommend.
				<a href="http://t.co/Xzsvpy8rpQ" target="_blank" rel="nofollow">http://t.co/Xzsvpy8rpQ</a>
			</li>
			<li class="jta-tweet-list-item">
				#LeesburgUS We LOVE helping people became healthier!... #Medical #Health #UrgentCare
				<a href="http://t.co/PmSDQs9kHN" target="_blank" rel="nofollow">http://t.co/PmSDQs9kHN</a>
			</li>
			<li class="jta-tweet-list-item">
				Try our our new video chat functionality! #bestvideochat #telemedicine
				<a href="http://t.co/9d1vxenoNQ" target="_blank" rel="nofollow">http://t.co/9d1vxenoNQ</a>
				via @SlideShare
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function () {
		jQuery('#cmsms_latest_bottom_tweets .jta-tweet-list').cmsmsResponsiveContentSlider( {
			sliderWidth : '100%',
			sliderHeight : 'auto',
			animationSpeed : 500,
			animationEffect : 'fade',
			animationEasing : 'linear',
			pauseTime : 7000,
			activeSlide : 1,
			touchControls : true,
			pauseOnHover : false,
			arrowNavigation : true,
			slidesNavigation : false
		} );
	} );
</script>
