<div id="cmsms_latest_bottom_tweets">
	<div class="cmsms_latest_bottom_tweets_inner">
		<span class="tweets_icon"></span>
		<ul class="jta-tweet-list responsiveContentSlider">
			<li class="jta-tweet-list-item">
				100 Sales for Meducure theme, and it is only a start!  See why so many people liked it -
				<a href="http://t.co/Xzsvpy8rPQ" target="_blank" rel="nofollow">http://t.co/Xzsvpy8rPQ</a>
			</li>
			<li class="jta-tweet-list-item">
				#Wordpress We LOVE creating GOOD themes... #Medical #Health #Medicine
				<a href="http://t.co/PmSDQs9lHN" target="_blank" rel="nofollow">http://t.co/PmSDQs9lHN</a>
			</li>
			<li class="jta-tweet-list-item">
				CMS Masters And Their Best Web Design Tools #bestwebdesigntools #webdesign
				<a href="http://t.co/9d1vxenoNQ" target="_blank" rel="nofollow">http://t.co/9d1vxenoNQ</a>
				via @SlideShare
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function () {
		jQuery('#cmsms_latest_bottom_tweets .jta-tweet-list').cmsmsResponsiveContentSlider( {
			sliderWidth : '100%',
			sliderHeight : 'auto',
			animationSpeed : 500,
			animationEffect : 'fade',
			animationEasing : 'linear',
			pauseTime : 7000,
			activeSlide : 1,
			touchControls : true,
			pauseOnHover : false,
			arrowNavigation : true,
			slidesNavigation : false
		} );
	} );
</script>
