<div class="featured_block">
    <div class="colored_title">
        <div class="colored_title_inner">
            <h2>
                <span>Medicure - Medical &amp; Health Theme by Cmsmasters</span>
            </h2>
            <p>
                Aliquam convallis erat a enim dictum et vestibulum nibh rutrum. In mi nisi, hendrerit in pelleue pellentesque
            </p>
        </div>
    </div>
    <a class="colored_button" href="http://bit.ly/VTfYXx" title="Download!">
        <span>Download!</span>
        <span class="icon_banner"></span>
    </a>
</div>
