<!-- _________________________ Start Header _________________________ -->
<header id="header">
	<div class="header_inner">
		<div class="custom_header">
			<div class="header_html">
				<span class="contact_widget_phone">
					<!-- Contact us: -->
					<span></span>
					{{ clinic.phone }}
				</span>
				<span class="contact_widget_email">
					<span></span>
					<a href="mailto:{{ clinic.email }}">{{ clinic.email }}</a>
				</span>
			</div>
			<div class="wrap_social_icons">
				<ul class="social_icons">
					<li><a target="_blank" href="#" title="#"><img src="images/img/facebook.png" alt="#" /></a></li>
					<li><a target="_blank" href="#" title="#"><img src="images/img/twitter.png" alt="#" /></a></li>
					<li><a target="_blank" href="#" title="#"><img src="images/img/rss.png" alt="#" /></a></li>
					<li><a target="_blank" href="#" title="#"><img src="images/img/linkedin.png" alt="#" /></a></li>
					<li><a target="_blank" href="#" title="#"><img src="images/img/skype.png" alt="#" /></a></li>
				</ul>
				<div class="cl"></div>
				<a href="#" class="social_toggle"><span></span></a>
			</div>
		</div>
		<a ui-sref="main" title="{{ clinic.name }}" class="logo">
			<img src="images/logo.jpg" alt="{{ clinic.name }}" />
		</a>
		<a class="responsive_nav" href="javascript:void(0);">
			<span></span>
		</a>
		<!-- _________________________ Start Navigation _________________________ -->
		<navigation></navigation>
		<!-- _________________________ Finish Navigation _________________________ -->
	</div>
	<div class="cl"></div>
</header>
<!-- _________________________ Finish Header _________________________ -->
