<section id="services_shortcode_535774340eace" class="post_type_shortcode">
    <div class="post_type_shortcode_inner">
        <h3>Latest Services</h3>
        <!--script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#services_shortcode_535774340eace .post_type_list')
                .cmsmsResponsiveContentSlider({
                    sliderWidth: '100%',
                    sliderHeight: 'auto',
                    animationSpeed: 500,
                    animationEffect: 'slide',
                    animationEasing: 'easeInOutExpo',
                    pauseTime: 0,
                    activeSlide: 1,
                    touchControls: false,
                    pauseOnHover: false,
                    arrowNavigation: true,
                    slidesNavigation: false
                });
            });
        </script-->
        <ul class="post_type_list services_container responsiveContentSlider">
            <li>
                <article class="service type-service hentry one_fourth format-slider">
                    <a href="diagnosis_clinic.html"></a>
                    <figure>
                        <a class="preloader" href="diagnosis_clinic.html" title="Pediatric Clinic">
                            <img width="440" height="440" src="images/happy-baby-s-440x440.jpg" class="fullwidth wp-post-image" alt="Pediatric Clinic" title="Pediatric Clinic" />
                        </a>
                    </figure>
                    <div class="service_rollover">
                        <header class="entry-header">
                            <h5 class="entry-title">
                                <a href="diagnosis_clinic.html" title="Pediatric Clinic">Pediatric Clinic</a>
                            </h5>
                        </header>
                        <footer class="entry-meta">
                            <span class="post_category">
                                <a href="diagnosis_clinic.html" rel="tag">Pediatric</a>,
                                <a href="diagnosis_clinic.html" rel="tag">Therapy</a>
                            </span>
                        </footer>
                        <div class="entry-content">
                            <p>Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features...</p>
                        </div>
                    </div>
                </article>

                <article class="service type-service hentry one_fourth format-album">
                    <a href="diagnosis_clinic.html"></a>
                    <figure>
                        <a class="preloader" href="diagnosis_clinic.html" title="Gynecological Clinic">
                            <img width="440" height="440" src="images/ultrasound-s-440x440.jpg" class="fullwidth wp-post-image" alt="Gynecological Clinic" title="Gynecological Clinic" />
                        </a>
                    </figure>
                    <div class="service_rollover">
                        <header class="entry-header">
                            <h5 class="entry-title">
                                <a href="diagnosis_clinic.html" title="Gynecological Clinic">Gynecological Clinic</a>
                            </h5>
                        </header>
                        <footer class="entry-meta">
                            <span class="post_category">
                                <a href="diagnosis_clinic.html" rel="tag">Therapy</a>
                            </span>
                        </footer>
                        <div class="entry-content">
                            <p>Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.</p>
                        </div>
                    </div>
                </article>

                <article class="service type-service hentry one_fourth format-album">
                    <a href="diagnosis_clinic.html"></a>
                    <figure>
                        <a class="preloader" href="diagnosis_clinic.html" title="Laboratory Analysis">
                            <img width="440" height="440" src="images/biochemical-research-s-440x440.jpg" class="fullwidth wp-post-image" alt="Laboratory Analysis" title="Laboratory Analysis" />
                        </a>
                    </figure>
                    <div class="service_rollover">
                        <header class="entry-header">
                            <h5 class="entry-title">
                                <a href="diagnosis_clinic.html" title="Laboratory Analysis">Laboratory Analysis</a>
                            </h5>
                        </header>
                        <footer class="entry-meta">
                            <span class="post_category">
                                <a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
                                <a href="diagnosis_clinic.html" rel="tag">Pharmacy</a>
                            </span>
                        </footer>
                        <div class="entry-content">
                            <p>Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.</p>
                        </div>
                    </div>
                </article>

                <article class="service type-service hentry one_fourth format-slider">
                    <a href="diagnosis_clinic.html"></a>
                    <figure>
                        <a class="preloader" href="diagnosis_clinic.html" title="Cardiac Clinic">
                            <img width="440" height="440" src="images/consultation-s-1-440x440.jpg" class="fullwidth wp-post-image" alt="Cardiac Clinic" title="Cardiac Clinic" />
                        </a>
                    </figure>
                    <div class="service_rollover">
                        <header class="entry-header">
                            <h5 class="entry-title">
                                <a href="diagnosis_clinic.html" title="Cardiac Clinic">Cardiac Clinic</a>
                            </h5>
                        </header>
                        <footer class="entry-meta">
                            <span class="post_category">
                                <a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
                                <a href="diagnosis_clinic.html" rel="tag">Therapy</a>
                            </span>
                        </footer>
                        <div class="entry-content">
                            <p>Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.</p>
                        </div>
                    </div>
                </article>
            </li>

            <li>
                <article class="service type-service hentry one_fourth format-album">
                    <a href="diagnosis_clinic.html"></a>
                    <figure>
                        <a class="preloader" href="diagnosis_clinic.html" title="Diagnosis Clinic">
                            <img width="440" height="440" src="images/stethoscope-on-clipboard-s-440x440.jpg" class="fullwidth wp-post-image" alt="Diagnosis Clinic" title="Diagnosis Clinic" />
                        </a>
                    </figure>
                    <div class="service_rollover">
                        <header class="entry-header">
                            <h5 class="entry-title">
                                <a href="diagnosis_clinic.html" title="Diagnosis Clinic">Diagnosis Clinic</a>
                            </h5>
                        </header>
                        <footer class="entry-meta">
                            <span class="post_category">
                                <a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
                                <a href="diagnosis_clinic.html" rel="tag">Therapy</a>
                            </span>
                        </footer>
                        <div class="entry-content">
                            <p>Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.</p>
                        </div>
                    </div>
                </article>

                <article class="service type-service hentry one_fourth format-video">
                    <a href="diagnosis_clinic.html"></a>
                    <figure>
                        <a href="diagnosis_clinic.html" class="preloader" title="Rehabilitation Therapy">
                            <img width="440" height="440" src="images/male-doctor-440x440.jpg" class="fullwidth wp-post-image" alt="Rehabilitation Therapy" title="Rehabilitation Therapy" />
                        </a>
                    </figure>
                    <div class="service_rollover">
                        <header class="entry-header">
                            <h5 class="entry-title">
                                <a href="diagnosis_clinic.html" title="Rehabilitation Therapy">Rehabilitation Therapy</a>
                            </h5>
                        </header>
                        <footer class="entry-meta">
                            <span class="post_category">
                                <a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
                                <a href="diagnosis_clinic.html" rel="tag">Therapy</a>
                            </span>
                        </footer>
                        <div class="entry-content">
                            <p>Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.</p>
                        </div>
                    </div>
                </article>

                <article class="service type-service hentry one_fourth format-video">
                    <a href="diagnosis_clinic.html"></a>
                    <figure>
                        <a href="diagnosis_clinic.html" class="preloader" title="Medical Counseling">
                            <img width="440" height="440" src="images/Young-attractive-man-440x440.jpg" class="fullwidth wp-post-image" alt="Medical Counseling" title="Medical Counseling" />
                        </a>
                    </figure>
                    <div class="service_rollover">
                        <header class="entry-header">
                            <h5 class="entry-title">
                                <a href="diagnosis_clinic.html" title="Medical Counseling">Medical Counseling</a>
                            </h5>
                        </header>
                        <footer class="entry-meta">
                            <span class="post_category">
                                <a href="diagnosis_clinic.html" rel="tag">Therapy</a>
                            </span>
                        </footer>
                        <div class="entry-content">
                            <p>Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.</p>
                        </div>
                    </div>
                </article>

                <article class="service type-service hentry one_fourth format-album">
                    <a href="diagnosis_clinic.html"></a>
                    <figure>
                        <a class="preloader" href="diagnosis_clinic.html" title="Psychological Counseling">
                            <img width="440" height="440" src="images/personal-counselor-s-440x440.jpg" class="fullwidth wp-post-image" alt="Psychological Counseling" title="Psychological Counseling" />
                        </a>
                    </figure>
                    <div class="service_rollover">
                        <header class="entry-header">
                            <h5 class="entry-title">
                                <a href="diagnosis_clinic.html" title="Psychological Counseling">Psychological Counseling</a>
                            </h5>
                        </header>
                        <footer class="entry-meta">
                            <span class="post_category">
                                <a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
                                <a href="diagnosis_clinic.html" rel="tag">Therapy</a>
                            </span>
                        </footer>
                        <div class="entry-content">
                            <p>Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.</p>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
        <div class="cl"></div>
    </div>
</section>
