<section class="post_type_shortcode type_post">
    <div class="post_type_shortcode_inner">
        <h3>Latest News</h3>
        <article class="type-post format-standard hentry category-home-post category-medical one_fourth">
            <figure class="cmsms_post_type_img">
                <img width="150" height="150" src="images/stethoscope-on-clipboard-s-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Center for Medical Technology Innovation" title="Center for Medical Technology Innovation" />
            </figure>
            <header class="entry-header">
                <h4 class="entry-title">
                    <a href="posttype.html">Center for Medical Technology Innovation</a>
                </h4>
                <div class="cmsms_post_info"> <abbr class="published" title="January 24, 2014">January 24, 2014</abbr>
                    <span class="cmsms_comments_wrap">
                        Comments (
                        <a class="cmsms_comments" href="#" title="Comment on Center for Medical Technology Innovation">0</a>
                        )
                    </span>
                </div>
            </header>
            <div class="entry-content">
                <p>
                    Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought.
                </p>
            </div>
        </article>
        <article class="post type-post format-standard hentry category-home-post category-medical one_fourth">
            <figure class="cmsms_post_type_img">
                <img width="150" height="150" src="images/doctor-at-the-gym-710400-1-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Nutritional Personal Consultation" title="Nutritional Personal Consultation" />
            </figure>
            <header class="entry-header">
                <h4 class="entry-title">
                    <a href="posttype.html">Nutritional Personal Consultation</a>
                </h4>
                <div class="cmsms_post_info"> <abbr class="published" title="January 24, 2014">January 24, 2014</abbr>
                    <span class="cmsms_comments_wrap">
                        Comments (
                        <a class="cmsms_comments" href="#" title="Comment on Nutritional Personal Consultation">0</a>
                        )
                    </span>
                </div>
            </header>
            <div class="entry-content">
                <p>
                    You can create a clinic website with Medicure theme, but you can as well use it for many other types of webstes, as it is highly flexible in customization.
                </p>
            </div>
        </article>
        <div class="cl"></div>
    </div>
</section>
