<!-- _________________________ Start Middle _________________________ -->
<section id="middle">
	<!-- __________________________________________________ Start Top -->
	<section id="top">
		<div class="wrap_rev_slider">
			<!-- START REVOLUTION SLIDER 4.1.4 fullwidth mode -->
			<revolution-slider></revolution-slider>
			<!-- END REVOLUTION SLIDER -->
			<div class="cl"></div>
		</div>
	</section>
	<!-- _________________________  Finish Top _________________________ -->

	<!-- _________________________ Start Top Sidebar _________________________ -->
	<top-sidebar></top-sidebar>
	<!-- _________________________ Finish Top Sidebar _________________________ -->

	<div class="content_wrap fullwidth">

		<!--_________________________ Start Content _________________________ -->
		<section id="middle_content" role="main">
			<div class="entry">
				<div class="cmsms_cc">
					<div class="one_fourth first_column">
						<div class="tac">
							<span class="content_icon icon-glyph-2">&nbsp;</span>
						</div>
						<h3 class="block_title tac">Cardio Monitoring</h3>
						<p class="tac">
							MediCure theme functionality that was developed with health and medical websites in thought, with all the must-have features included.
						</p>
					</div>
					<div class="one_fourth">
						<div class="tac">
							<span class="content_icon icon-glyph-3">&nbsp;</span>
						</div>
						<h3 class="block_title tac">Medical Treatment</h3>
						<p class="tac">
							A fantastic set of 23 custom shortcodes lets you easlily and fast create a highly unique and interactive content for your medical website.
						</p>
					</div>
					<div class="one_fourth">
						<div class="tac">
							<span class="content_icon icon-glyph-4">&nbsp;</span>
						</div>
						<h3 class="block_title tac">Emergency Help</h3>
						<p class="tac">
							Custom Services post type allows you display a variety of medical services for a large hospital as well as for a small private clinic.
						</p>
					</div>
					<div class="one_fourth">
						<div class="tac">
							<span class="content_icon icon-glyph-5"></span>
						</div>
						<h3 class="block_title tac">Emergency Help</h3>
						<p class="tac">
							Custom Services post type allows you display a variety of medical services for a large hospital as well as for a small private clinic.
						</p>
					</div>
					<div class="one_first first_column">
						<section id="services_shortcode_535774340eace" class="post_type_shortcode">
							<div class="post_type_shortcode_inner">
								<h3>Latest Services</h3>
								<script type="text/javascript">
									jQuery(document).ready(function () {
									    jQuery('#services_shortcode_535774340eace .post_type_list').cmsmsResponsiveContentSlider({
									        sliderWidth: '100%',
									        sliderHeight: 'auto',
									        animationSpeed: 500,
									        animationEffect: 'slide',
									        animationEasing: 'easeInOutExpo',
									        pauseTime: 0,
									        activeSlide: 1,
									        touchControls: false,
									        pauseOnHover: false,
									        arrowNavigation: true,
									        slidesNavigation: false
									    });
									});
								</script>
								<ul class="post_type_list services_container responsiveContentSlider">
									<li>
										<article class="service type-service hentry one_fourth format-slider">
											<a href="diagnosis_clinic.html"></a>
											<figure>
												<a class="preloader" href="diagnosis_clinic.html" title="Pediatric Clinic">
													<img width="440" height="440" src="images/happy-baby-s-440x440.jpg" class="fullwidth wp-post-image" alt="Pediatric Clinic" title="Pediatric Clinic" />
												</a>
											</figure>
											<div class="service_rollover">
												<header class="entry-header">
													<h5 class="entry-title">
														<a href="diagnosis_clinic.html" title="Pediatric Clinic">Pediatric Clinic</a>
													</h5>
												</header>
												<footer class="entry-meta">
													<span class="post_category">
														<a href="diagnosis_clinic.html" rel="tag">Pediatric</a>,
														<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
													</span>
												</footer>
												<div class="entry-content">
													<p>
														Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features...
													</p>
												</div>
											</div>
										</article>
										<article class="service type-service hentry one_fourth format-album">
											<a href="diagnosis_clinic.html"></a>
											<figure>
												<a class="preloader" href="diagnosis_clinic.html" title="Gynecological Clinic">
													<img width="440" height="440" src="images/ultrasound-s-440x440.jpg" class="fullwidth wp-post-image" alt="Gynecological Clinic" title="Gynecological Clinic" />
												</a>
											</figure>
											<div class="service_rollover">
												<header class="entry-header">
													<h5 class="entry-title">
														<a href="diagnosis_clinic.html" title="Gynecological Clinic">Gynecological Clinic</a>
													</h5>
												</header>
												<footer class="entry-meta">
													<span class="post_category">
														<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
													</span>
												</footer>
												<div class="entry-content">
													<p>
														Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
													</p>
												</div>
											</div>
										</article>
										<article class="service type-service hentry one_fourth format-album">
											<a href="diagnosis_clinic.html"></a>
											<figure>
												<a class="preloader" href="diagnosis_clinic.html" title="Laboratory Analysis">
													<img width="440" height="440" src="images/biochemical-research-s-440x440.jpg" class="fullwidth wp-post-image" alt="Laboratory Analysis" title="Laboratory Analysis" />
												</a>
											</figure>
											<div class="service_rollover">
												<header class="entry-header">
													<h5 class="entry-title">
														<a href="diagnosis_clinic.html" title="Laboratory Analysis">Laboratory Analysis</a>
													</h5>
												</header>
												<footer class="entry-meta">
													<span class="post_category">
														<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
														<a href="diagnosis_clinic.html" rel="tag">Pharmacy</a>
													</span>
												</footer>
												<div class="entry-content">
													<p>
														Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
													</p>
												</div>
											</div>
										</article>
										<article class="service type-service hentry one_fourth format-slider">
											<a href="diagnosis_clinic.html"></a>
											<figure>
												<a class="preloader" href="diagnosis_clinic.html" title="Cardiac Clinic">
													<img width="440" height="440" src="images/consultation-s-1-440x440.jpg" class="fullwidth wp-post-image" alt="Cardiac Clinic" title="Cardiac Clinic" />
												</a>
											</figure>
											<div class="service_rollover">
												<header class="entry-header">
													<h5 class="entry-title">
														<a href="diagnosis_clinic.html" title="Cardiac Clinic">Cardiac Clinic</a>
													</h5>
												</header>
												<footer class="entry-meta">
													<span class="post_category">
														<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
														<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
													</span>
												</footer>
												<div class="entry-content">
													<p>
														Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
													</p>
												</div>
											</div>
										</article>
									</li>
									<li>
										<article class="service type-service hentry one_fourth format-album">
											<a href="diagnosis_clinic.html"></a>
											<figure>
												<a class="preloader" href="diagnosis_clinic.html" title="Diagnosis Clinic">
													<img width="440" height="440" src="images/stethoscope-on-clipboard-s-440x440.jpg" class="fullwidth wp-post-image" alt="Diagnosis Clinic" title="Diagnosis Clinic" />
												</a>
											</figure>
											<div class="service_rollover">
												<header class="entry-header">
													<h5 class="entry-title">
														<a href="diagnosis_clinic.html" title="Diagnosis Clinic">Diagnosis Clinic</a>
													</h5>
												</header>
												<footer class="entry-meta">
													<span class="post_category">
														<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
														<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
													</span>
												</footer>
												<div class="entry-content">
													<p>
														Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
													</p>
												</div>
											</div>
										</article>
										<article class="service type-service hentry one_fourth format-video">
											<a href="diagnosis_clinic.html"></a>
											<figure>
												<a href="diagnosis_clinic.html" class="preloader" title="Rehabilitation Therapy">
													<img width="440" height="440" src="images/male-doctor-440x440.jpg" class="fullwidth wp-post-image" alt="Rehabilitation Therapy" title="Rehabilitation Therapy" />
												</a>
											</figure>
											<div class="service_rollover">
												<header class="entry-header">
													<h5 class="entry-title">
														<a href="diagnosis_clinic.html" title="Rehabilitation Therapy">Rehabilitation Therapy</a>
													</h5>
												</header>
												<footer class="entry-meta">
													<span class="post_category">
														<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
														<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
													</span>
												</footer>
												<div class="entry-content">
													<p>
														Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
													</p>
												</div>
											</div>
										</article>
										<article class="service type-service hentry one_fourth format-video">
											<a href="diagnosis_clinic.html"></a>
											<figure>
												<a href="diagnosis_clinic.html" class="preloader" title="Medical Counseling">
													<img width="440" height="440" src="images/Young-attractive-man-440x440.jpg" class="fullwidth wp-post-image" alt="Medical Counseling" title="Medical Counseling" />
												</a>
											</figure>
											<div class="service_rollover">
												<header class="entry-header">
													<h5 class="entry-title">
														<a href="diagnosis_clinic.html" title="Medical Counseling">Medical Counseling</a>
													</h5>
												</header>
												<footer class="entry-meta">
													<span class="post_category">
														<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
													</span>
												</footer>
												<div class="entry-content">
													<p>
														Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
													</p>
												</div>
											</div>
										</article>
										<article class="service type-service hentry one_fourth format-album">
											<a href="diagnosis_clinic.html"></a>
											<figure>
												<a class="preloader" href="diagnosis_clinic.html" title="Psychological Counseling">
													<img width="440" height="440" src="images/personal-counselor-s-440x440.jpg" class="fullwidth wp-post-image" alt="Psychological Counseling" title="Psychological Counseling" />
												</a>
											</figure>
											<div class="service_rollover">
												<header class="entry-header">
													<h5 class="entry-title">
														<a href="diagnosis_clinic.html" title="Psychological Counseling">Psychological Counseling</a>
													</h5>
												</header>
												<footer class="entry-meta">
													<span class="post_category">
														<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>,
														<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
													</span>
												</footer>
												<div class="entry-content">
													<p>
														Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
													</p>
												</div>
											</div>
										</article>
									</li>
								</ul>
								<div class="cl"></div>
							</div>
						</section>
					</div>
					<div class="one_half first_column">
						<section class="post_type_shortcode type_post">
							<div class="post_type_shortcode_inner">
								<h3>Latest News</h3>
								<article class="type-post format-standard hentry category-home-post category-medical one_fourth">
									<figure class="cmsms_post_type_img">
										<img width="150" height="150" src="images/stethoscope-on-clipboard-s-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Center for Medical Technology Innovation" title="Center for Medical Technology Innovation" />
									</figure>
									<header class="entry-header">
										<h4 class="entry-title">
											<a href="posttype.html">Center for Medical Technology Innovation</a>
										</h4>
										<div class="cmsms_post_info"> <abbr class="published" title="January 24, 2014">January 24, 2014</abbr>
											<span class="cmsms_comments_wrap">
												Comments (
												<a class="cmsms_comments" href="#" title="Comment on Center for Medical Technology Innovation">0</a>
												)
											</span>
										</div>
									</header>
									<div class="entry-content">
										<p>
											Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought.
										</p>
									</div>
								</article>
								<article class="post type-post format-standard hentry category-home-post category-medical one_fourth">
									<figure class="cmsms_post_type_img">
										<img width="150" height="150" src="images/doctor-at-the-gym-710400-1-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Nutritional Personal Consultation" title="Nutritional Personal Consultation" />
									</figure>
									<header class="entry-header">
										<h4 class="entry-title">
											<a href="posttype.html">Nutritional Personal Consultation</a>
										</h4>
										<div class="cmsms_post_info"> <abbr class="published" title="January 24, 2014">January 24, 2014</abbr>
											<span class="cmsms_comments_wrap">
												Comments (
												<a class="cmsms_comments" href="#" title="Comment on Nutritional Personal Consultation">0</a>
												)
											</span>
										</div>
									</header>
									<div class="entry-content">
										<p>
											You can create a clinic website with Medicure theme, but you can as well use it for many other types of webstes, as it is highly flexible in customization.
										</p>
									</div>
								</article>
								<div class="cl"></div>
							</div>
						</section>
					</div>
					<div class="one_half">
						<section id="services_shortcode_5357743422388" class="post_type_shortcode type_testimonial">
							<div class="post_type_shortcode_inner">
								<h3>Testimonials</h3>
								<script type="text/javascript">
									jQuery(document).ready(function () {
									    jQuery('#services_shortcode_5357743422388 .post_type_list').cmsmsResponsiveContentSlider({
									        sliderWidth: '100%',
									        sliderHeight: 'auto',
									        animationSpeed: 500,
									        animationEffect: 'slide',
									        animationEasing: 'easeInOutExpo',
									        pauseTime: 0,
									        activeSlide: 1,
									        touchControls: false,
									        pauseOnHover: false,
									        arrowNavigation: true,
									        slidesNavigation: false
									    });
									});
								</script>
								<ul class="post_type_list services_container responsiveContentSlider">
									<li>
										<article class="testimonial type-testimonial hentry one_first">
											<div class="tl-content_wrap">
												<div class="tl-content">
													<blockquote>
														If you are choosing a medical center, Medicure is the one I would recommend. Here you are offered medical treatment of a reliable quality, and a full range of services is offered by a team of professional doctors. Caring staff, new equipment and helpful therapy - definitely, this is a medical center of my choice!
													</blockquote>
												</div>
											</div>
											<img width="150" height="150" src="images/Dentist-Sandy-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Fredrick Keen" title="Fredrick Keen" />
											<a target="_blank" href="#" class="tl_author">Frederick</a>
											<p class="tl_company">57 years</p>
										</article>
									</li>
									<li>
										<article class="testimonial type-testimonial hentry one_first">
											<div class="tl-content_wrap">
												<div class="tl-content">
													<blockquote>
														Fantastic service and really helpful and caring personnel. I was impressed by pleasant atmosphere and the general assistance. My doctor offered me a very effective treatment and I really did feel significant improvement really soon. I followed all the prescriptions and now I feel great. Greatly thankful to all the staff, and I would definitely recommend this medical center to anyone who medic aid.
													</blockquote>
												</div>
											</div>
											<img width="150" height="150" src="images/happy-to-help-you-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Jeff Blake" title="Jeff Blake" />
											<a target="_blank" href="#" class="tl_author">Jeff Blake</a>
											<p class="tl_company">32 years</p>
										</article>
									</li>
									<li>
										<article class="testimonial type-testimonial hentry one_first">
											<div class="tl-content_wrap">
												<div class="tl-content">
													<blockquote>
														My doctor offered me a very effective treatment and I really did feel significant improvement really soon. I followed all the prescriptions and now I feel great. Greatly thankful to all the staff, and I would definitely recommend this medical center to anyone who medic aid. Fantastic service and really helpful and caring personnel. I was impressed by pleasant atmosphere and the general assistance.
													</blockquote>
												</div>
											</div>
											<img width="150" height="150" src="images/Woman-smiling-2-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Rebecca Martins" title="Rebecca Martins" />
											<a target="_blank" href="#" class="tl_author">Rebecca Martins</a>
											<p class="tl_company">29 years</p>
										</article>
									</li>
									<li>
										<article class="testimonial type-testimonial hentry one_first">
											<div class="tl-content_wrap">
												<div class="tl-content">
													<blockquote>
														My doctor offered me a very effective treatment and I really did feel significant improvement really soon. I followed all the prescriptions and now I feel great. Greatly thankful to all the staff, and I would definitely recommend this medical center to anyone who medic aid. Fantastic service and really helpful and caring personnel. I was impressed by pleasant atmosphere and the general assistance.
													</blockquote>
												</div>
											</div>
											<img width="150" height="150" src="images/Smiling-Man-17-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Gregory Newman" title="Gregory Newman" />
											<a target="_blank" href="#" class="tl_author">Gregory Newman</a>
											<p class="tl_company">27 years</p>
										</article>
									</li>
								</ul>
								<div class="cl"></div>
							</div>
						</section>
					</div>
					<div class="one_first first_column">
						<h3>Our Doctors</h3>
					</div>
					<div class="one_fourth first_column">
						<div class="cmsms_our_team_wrap">
							<div class="cmsms_our_team">
								<div class="wrap_person">
									<figure>
										<img width="440" height="440" src="images/female-practitioner-s-11-440x440.jpg" class="fullwidth" alt="female-practitioner-s-1" />
									</figure>
									<div class="cmsms_team_rollover glow_blue">
										<a href="dr_michael_linden.html" class="cmsms_link">
											<span></span>
										</a>
									</div>
								</div>
								<header class="entry-header">
									<div>
										<h6 class="person_title">
											<a href="dr_michael_linden.html">Dr. Karen Dawson</a>
										</h6>
										<p class="person_subtitle">Pediatric Clinic</p>
									</div>
								</header>
								<footer class="entry-meta">
									<a href="#" title="facebook" target="_blank">
										<img src="images/img/facebook.png" alt="facebook" />
									</a>
									<a href="#" title="twitter" target="_blank">
										<img src="images/img/twitter.png" alt="twitter" />
									</a>
									<a href="#" title="skype" target="_blank">
										<img src="images/img/skype.png" alt="skype" />
									</a>
									<a href="#" title="linkedin" target="_blank">
										<img src="images/img/linkedin.png" alt="linkedin" />
									</a>
									<div class="cl"></div>
								</footer>
							</div>
						</div>
					</div>
					<div class="one_fourth">
						<div class="cmsms_our_team_wrap">
							<div class="cmsms_our_team">
								<div class="wrap_person">
									<figure>
										<img width="440" height="440" src="images/smiling-doctor-with-chin-on-hand-s-440x440.jpg" class="fullwidth" alt="smiling-doctor-with-chin-on-hand-s" />
									</figure>
									<div class="cmsms_team_rollover glow_blue">
										<a href="dr_michael_linden.html" class="cmsms_link">
											<span></span>
										</a>
									</div>
								</div>
								<header class="entry-header">
									<div>
										<h6 class="person_title">
											<a href="dr_michael_linden.html">Dr. Jack Simmons</a>
										</h6>
										<p class="person_subtitle">Cardiac Clinic</p>
									</div>
								</header>
								<footer class="entry-meta">
									<a href="#" title="facebook" target="_blank">
										<img src="images/img/facebook.png" alt="facebook" />
									</a>
									<a href="#" title="twitter" target="_blank">
										<img src="images/img/twitter.png" alt="twitter" />
									</a>
									<a href="#" title="skype" target="_blank">
										<img src="images/img/skype.png" alt="skype" />
									</a>
									<a href="#" title="linkedin" target="_blank">
										<img src="images/img/linkedin.png" alt="linkedin" />
									</a>
									<div class="cl"></div>
								</footer>
							</div>
						</div>
					</div>
					<div class="one_fourth">
						<div class="cmsms_our_team_wrap">
							<div class="cmsms_our_team">
								<div class="wrap_person">
									<figure>
										<img width="440" height="440" src="images/successful-physician-s-2-440x440.jpg" class="fullwidth" alt="successful-physician-s-2" />
									</figure>
									<div class="cmsms_team_rollover glow_blue">
										<a href="dr_michael_linden.html" class="cmsms_link">
											<span></span>
										</a>
									</div>
								</div>
								<header class="entry-header">
									<div>
										<h6 class="person_title">
											<a href="dr_michael_linden.html">Dr. Jack Zerriper</a>
										</h6>
										<p class="person_subtitle">Rehabilitation Therapy</p>
									</div>
								</header>
								<footer class="entry-meta">
									<a href="#" title="facebook" target="_blank">
										<img src="images/img/facebook.png" alt="facebook" />
									</a>
									<a href="#" title="twitter" target="_blank">
										<img src="images/img/twitter.png" alt="twitter" />
									</a>
									<a href="#" title="skype" target="_blank">
										<img src="images/img/skype.png" alt="skype" />
									</a>
									<a href="#" title="linkedin" target="_blank">
										<img src="images/img/linkedin.png" alt="linkedin" />
									</a>
									<div class="cl"></div>
								</footer>
							</div>
						</div>
					</div>
					<div class="one_fourth">
						<div class="cmsms_our_team_wrap">
							<div class="cmsms_our_team">
								<div class="wrap_person">
									<figure>
										<img width="440" height="440" src="images/male-doctor-440x440.jpg" class="fullwidth" alt="male-doctor" />
									</figure>
									<div class="cmsms_team_rollover glow_blue">
										<a href="dr_michael_linden.html" class="cmsms_link">
											<span></span>
										</a>
									</div>
								</div>
								<header class="entry-header">
									<div>
										<h6 class="person_title">
											<a href="dr_michael_linden.html">Dr. Michael Linden</a>
										</h6>
										<p class="person_subtitle">Laryngological Clinic</p>
									</div>
								</header>
								<footer class="entry-meta">
									<a href="#" title="facebook" target="_blank">
										<img src="images/img/facebook.png" alt="facebook" />
									</a>
									<a href="#" title="twitter" target="_blank">
										<img src="images/img/twitter.png" alt="twitter" />
									</a>
									<a href="#" title="skype" target="_blank">
										<img src="images/img/skype.png" alt="skype" />
									</a>
									<a href="#" title="linkedin" target="_blank">
										<img src="images/img/linkedin.png" alt="linkedin" />
									</a>
									<div class="cl"></div>
								</footer>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- _________________________ Finish Content _________________________ -->

		<div class="cl"></div>
	</div>
</section>
<!-- _________________________ Finish Middle _________________________ -->
