<!-- _________________________ Start Navigation _________________________ -->
<div class="wrap_nav">
	<nav role="navigation">
		<ul id="navigation" class="navigation">
			<li class="menu-item" ng-class="{current_page_item:isActive('/')}">
				<a ui-sref="main"><span>Home</span></a>
			</li>
			<li class="menu-item" ng-class="{current_page_item:isActive('/about-us')}">
				<a ui-sref="about-us"><span>About Us</span></a>
			</li>

			<!-- <li class="dropdown menu-item menu-item-has-children">
				<a><span>Features</span></a>
				<ul class="sub-menu">
					<li class="dropdown menu-item menu-item-has-children">
						<a><span>Shortcodes</span></a>
						<ul class="sub-menu">
							<li class="dropdown menu-item menu-item-has-children">
								<a><span>Block Shortcodes</span></a>
								<ul class="sub-menu">
									<li><a href="person_block.html"><span>Person Block</span></a></li>
									<li><a href="featured.html"><span>Featured Blocks</span></a></li>
									<li><a href="colored_blocks.html"><span>Colored Blocks</span></a></li>
									<li><a href="columns.html"><span>Columns</span></a></li>
									<li><a href="tabs_and_toggle.html"><span>Tabs &amp; Toggle</span></a></li>
									<li><a href="information_boxes.html"><span>Information Boxes</span></a></li>
									<li><a href="pricing_tables.html"><span>Pricing Tables</span></a></li>
								</ul>
							</li>
							<li class="dropdown menu-item menu-item-has-children">
								<a><span>Other Shortcodes</span></a>
								<ul class="sub-menu">
									<li><a href="content_slider.html"><span>Content Slider</span></a></li>
									<li><a href="posttype.html"><span>Post type shortcode</span></a></li>
									<li><a href="statistics.html"><span>Statistics</span></a></li>
									<li><a href="contact_form.html"><span>Contact Form Shortcode</span></a>
									<li><a href="lightboxes.html"><span>Lightboxes</span></a></li>
									<li><a href="media.html"><span>Media</span></a></li>
									<li><a href="player.html"><span>Audio &amp; Video Players</span></a></li>
									<li><a href="googlemaps.html"><span>Google Maps</span></a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="dropdown menu-item menu-item-has-children">
						<a><span>Layouts</span></a>
						<ul class="sub-menu">
							<li><a href="about.html"><span>About Us</span></a></li>
							<li><a href="error.html"><span>404 Error Page</span></a></li>
							<li><a href="pass.html"><span>Password-protected page</span></a></li>
							<li><a href="sitemap.html"><span>Sitemap</span></a></li>
							<li><a href="lsidebar.html"><span>Left Sidebar</span></a></li>
							<li><a href="rsidebar.html"><span>Right Sidebar</span></a></li>
							<li><a href="timeline_service.html"><span>Timeline Service</span></a></li>
							<li><a href="timeline.html"><span>Timeline Blog</span></a></li>
						</ul>
					</li>
					<li class="menu-item">
						<a href="testimonials.html"><span>Testimonials</span></a>
					</li>
					<li class="dropdown menu-item menu-item-has-children">
						<a><span>Heading Templates</span></a>
						<ul class="sub-menu">
							<li><a href="heading.html"><span>Standard Heading</span></a></li>
							<li><a href="heading_text.html"><span>With Subtitle</span></a></li>
							<li><a href="no_heading.html"><span>With Icon</span></a></li>
							<li><a href="heading_text_icon.html"><span>With Subtitle &#038; Icon</span></a></li>
						</ul>
					</li>
					<li class="menu-item"><a href="typography.html"><span>Typography</span></a></li>
					<li class="menu-item"><a href="widgets.html"><span>Widgets and sidebars</span></a></li>
				</ul>
			</li> -->

			<li class="menu-item" ng-class="{current_page_item:isActive('/services')}">
				<a ui-sref="services"><span>Services</span></a>
			</li>
			<!-- <li class="dropdown menu-item menu-item-has-children">
				<a><span>Services</span></a>
				<ul class="sub-menu">
					<li class="menu-item"><a href="service_four.html"><span>Four Columns Services Page</span></a></li>
					<li class="menu-item"><a href="service_three.html"><span>Three Columns Services Page</span></a></li>
					<li class="menu-item"><a href="service_two.html"><span>Two Columns Services Page</span></a></li>
				</ul>
			</li> -->

			<li class="menu-item" ng-class="{current_page_item:isActive('/doctors')}">
				<a ui-sref="doctors"><span>Doctors</span></a>
			</li>
			<li class="menu-item" ng-class="{current_page_item:isActive('/appointments')}">
				<a ui-sref="appointments"><span>Appointments</span></a>
			</li>
			<li class="menu-item" ng-class="{current_page_item:isActive('/blog')}">
				<a ui-sref="blog"><span>Blog</span></a>
			</li>
			<li class="menu-item" ng-class="{current_page_item:isActive('/contacts')}">
				<a ui-sref="contacts"><span>Contacts</span></a>
			</li>
		</ul>
		<div class="cl"></div>
		<div class="wrap_header_search">
			<a class="search_but cmsms_icon" href="javascript:void(0);"></a>
			<div class="search_line">
				<form method="get" action="#">
					<p>
						<input name="s" id="error_search" placeholder="enter keywords" value="" type="text">
						<input value="" type="submit">
					</p>
				</form>
			</div>
		</div>
	</nav>
	<div class="cl"></div>
</div>
<div class="cl"></div>
<!-- _________________________ Finish Navigation _________________________ -->
