<div class="one_fourth" ng-repeat="doctor in doctors | orderBy: 'id'">
	<div class="cmsms_our_team_wrap">
		<div class="cmsms_our_team">
			<div class="wrap_person">
				<figure>
					<img width="440" height="440" src="{{ doctor.imageUrl }}" class="fullwidth" alt="{{ doctor.firstname + " " doctor.lastname }}" />
				</figure>
				<div class="cmsms_team_rollover glow_blue">
					<a ui-sref="doctor({ doctorId: doctor.id })" class="cmsms_link">
						<span></span>
					</a>
				</div>
			</div>
			<header class="entry-header">
				<div>
					<h6 class="person_title">
						<a ui-sref="doctor({ doctorId: doctor.id })">{{ doctor.firstname + " " + doctor.lastname }}</a>
					</h6>
					<p class="person_subtitle">{{ doctor.speciality }}</p>
				</div>
			</header>
			<footer class="entry-meta">
				<a href="#" title="facebook" target="_blank">
					<img src="images/img/facebook.png" alt="facebook" />
				</a>
				<a href="#" title="twitter" target="_blank">
					<img src="images/img/twitter.png" alt="twitter" />
				</a>
				<a href="#" title="skype" target="_blank">
					<img src="images/img/skype.png" alt="skype" />
				</a>
				<a href="#" title="linkedin" target="_blank">
					<img src="images/img/linkedin.png" alt="linkedin" />
				</a>
				<div class="cl"></div>
			</footer>
		</div>
	</div>
</div>
