<div class="one_first first_column">
    <h3>Our Doctors</h3>
</div>
<div class="one_fourth first_column">
    <div class="cmsms_our_team_wrap">
        <div class="cmsms_our_team">
            <div class="wrap_person">
                <figure>
                    <img width="440" height="440" src="images/doctors/roshelle-beckwith-2.jpg" class="fullwidth" alt="female-practitioner-s-1" />
                </figure>
                <div class="cmsms_team_rollover glow_blue">
                    <a ui-sref="doctor" class="cmsms_link">
                        <span></span>
                    </a>
                </div>
            </div>
            <header class="entry-header">
                <div>
                    <h6 class="person_title">
                        <a ui-sref="doctor">Dr. Roshelle Beckwith</a>
                    </h6>
                    <p class="person_subtitle">Emergency Medicine</p>
                </div>
            </header>
            <footer class="entry-meta">
                <a href="#" title="facebook" target="_blank">
                    <img src="images/img/facebook.png" alt="facebook" />
                </a>
                <a href="#" title="twitter" target="_blank">
                    <img src="images/img/twitter.png" alt="twitter" />
                </a>
                <a href="#" title="skype" target="_blank">
                    <img src="images/img/skype.png" alt="skype" />
                </a>
                <a href="#" title="linkedin" target="_blank">
                    <img src="images/img/linkedin.png" alt="linkedin" />
                </a>
                <div class="cl"></div>
            </footer>
        </div>
    </div>
</div>
<div class="one_fourth">
    <div class="cmsms_our_team_wrap">
        <div class="cmsms_our_team">
            <div class="wrap_person">
                <figure>
                    <img width="440" height="440" src="images/doctors/matthew-beckwith.jpg" class="fullwidth" alt="Matthew Beckwith" />
                </figure>
                <div class="cmsms_team_rollover glow_blue">
                    <a ui-sref="doctor" class="cmsms_link">
                        <span></span>
                    </a>
                </div>
            </div>
            <header class="entry-header">
                <div>
                    <h6 class="person_title">
                        <a ui-sref="doctor">Dr. Matthew Beckwith</a>
                    </h6>
                    <p class="person_subtitle">Family Medicine</p>
                </div>
            </header>
            <footer class="entry-meta">
                <a href="#" title="facebook" target="_blank">
                    <img src="images/img/facebook.png" alt="facebook" />
                </a>
                <a href="#" title="twitter" target="_blank">
                    <img src="images/img/twitter.png" alt="twitter" />
                </a>
                <a href="#" title="skype" target="_blank">
                    <img src="images/img/skype.png" alt="skype" />
                </a>
                <a href="#" title="linkedin" target="_blank">
                    <img src="images/img/linkedin.png" alt="linkedin" />
                </a>
                <div class="cl"></div>
            </footer>
        </div>
    </div>
</div>
<div class="one_fourth">
    <div class="cmsms_our_team_wrap">
        <div class="cmsms_our_team">
            <div class="wrap_person">
                <figure>
                    <img width="440" height="440" src="images/successful-physician-s-2-440x440.jpg" class="fullwidth" alt="successful-physician-s-2" />
                </figure>
                <div class="cmsms_team_rollover glow_blue">
                    <a href="dr_michael_linden.html" class="cmsms_link">
                        <span></span>
                    </a>
                </div>
            </div>
            <header class="entry-header">
                <div>
                    <h6 class="person_title">
                        <a ui-sref="doctor">Dr. Rosanna Pau</a>
                    </h6>
                    <p class="person_subtitle">Emergency Medicine</p>
                </div>
            </header>
            <footer class="entry-meta">
                <a href="#" title="facebook" target="_blank">
                    <img src="images/img/facebook.png" alt="facebook" />
                </a>
                <a href="#" title="twitter" target="_blank">
                    <img src="images/img/twitter.png" alt="twitter" />
                </a>
                <a href="#" title="skype" target="_blank">
                    <img src="images/img/skype.png" alt="skype" />
                </a>
                <a href="#" title="linkedin" target="_blank">
                    <img src="images/img/linkedin.png" alt="linkedin" />
                </a>
                <div class="cl"></div>
            </footer>
        </div>
    </div>
</div>
<div class="one_fourth">
    <div class="cmsms_our_team_wrap">
        <div class="cmsms_our_team">
            <div class="wrap_person">
                <figure>
                    <img width="440" height="440" src="images/male-doctor-440x440.jpg" class="fullwidth" alt="male-doctor" />
                </figure>
                <div class="cmsms_team_rollover glow_blue">
                    <a ui-sref="doctor" class="cmsms_link">
                        <span></span>
                    </a>
                </div>
            </div>
            <header class="entry-header">
                <div>
                    <h6 class="person_title">
                        <a ui-sref="doctor">Dr. Brian Rader</a>
                    </h6>
                    <p class="person_subtitle">Emergency Medicine</p>
                </div>
            </header>
            <footer class="entry-meta">
                <a href="#" title="facebook" target="_blank">
                    <img src="images/img/facebook.png" alt="facebook" />
                </a>
                <a href="#" title="twitter" target="_blank">
                    <img src="images/img/twitter.png" alt="twitter" />
                </a>
                <a href="#" title="skype" target="_blank">
                    <img src="images/img/skype.png" alt="skype" />
                </a>
                <a href="#" title="linkedin" target="_blank">
                    <img src="images/img/linkedin.png" alt="linkedin" />
                </a>
                <div class="cl"></div>
            </footer>
        </div>
    </div>
</div>
