<!-- START REVOLUTION SLIDER 4.1.4 fullwidth mode -->

<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:600px;">
    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:600px;height:600;">
        <ul>
            <!-- SLIDE  -->
            <!-- <li data-transition="random" data-slotamount="7" data-masterspeed="300" > -->
            <!--boxslide
                boxfade
                slotzoom-horizontal
                slotslide-horizontal
                slotfade-horizontal
                slotzoom-vertical
                slotslide-vertical
                slotfade-vertical
                curtain-1
                curtain-2
                curtain-3
                slideleft
                slideright
                slideup
                slidedown
                fade -->
            <li data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="300" >
                <!-- MAIN IMAGE -->
                <img src="images/image-1.jpg"  alt="image-1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-fade"
                data-x="31"
                data-y="363"
                data-speed="900"
                data-start="900"
                data-easing="Power0.easeIn"
                data-endspeed="300"
                style="z-index: 2">
                    <img src="images/caption-2.png" alt=""></div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption black_2 tp-fade tp-resizeme"
                data-x="51"
                data-y="bottom" data-voffset="-196"
                data-speed="500"
                data-start="2000"
                data-easing="Power3.easeInOut"
                data-endspeed="400"
                style="z-index: 3">{{ testMessage }}</div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption blue_capture tp-fade tp-resizeme"
                data-x="50"
                data-y="bottom" data-voffset="-150"
                data-speed="500"
                data-start="2700"
                data-easing="Power0.easeIn"
                data-endspeed="300"
                style="z-index: 4">Every Client</div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption paragraph tp-fade tp-resizeme"
                data-x="51"
                data-y="481"
                data-speed="500"
                data-start="3200"
                data-easing="Power0.easeIn"
                data-endspeed="300"
                style="z-index: 5">
                    A wide spectre of quality medical services and treatment for all
                    <br>
                    age groups. Professional staff and equipment to implement
                    <br>newest medical technologies.</div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="300" >
                <!-- MAIN IMAGE -->
                <img src="images/image-2.jpg"  alt="image-2"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption Layer2_1 tp-fade tp-resizeme"
                data-x="60"
                data-y="103"
                data-speed="500"
                data-start="700"
                data-easing="Power0.easeIn"
                data-endspeed="300"
                style="z-index: 2">Full Spectre</div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption Layer2_2 tp-fade tp-resizeme"
                data-x="64"
                data-y="159"
                data-speed="600"
                data-start="1100"
                data-easing="Power0.easeIn"
                data-endspeed="300"
                style="z-index: 3">Treatment</div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption Layer2_3 tp-fade tp-resizeme"
                data-x="97"
                data-y="259"
                data-speed="400"
                data-start="1800"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 4">Medical Counseling</div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-fade"
                data-x="67"
                data-y="259"
                data-speed="300"
                data-start="3900"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 5">
                    <img src="images/tick-2.png" alt="" data-ww="13" data-hh="9"></div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption Layer2_3 tp-fade tp-resizeme"
                data-x="97"
                data-y="292"
                data-speed="400"
                data-start="2100"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 6">Cardiac Clinyc</div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption tp-fade"
                data-x="67"
                data-y="292"
                data-speed="300"
                data-start="4200"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 7">
                    <img src="images/tick-2.png" alt="" data-ww="13" data-hh="9"></div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption Layer2_3 tp-fade tp-resizeme"
                data-x="97"
                data-y="329"
                data-speed="400"
                data-start="2400"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 8">Pediatric Clinic</div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption tp-fade"
                data-x="67"
                data-y="328"
                data-speed="300"
                data-start="4500"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 9">
                    <img src="images/tick-2.png" alt="" data-ww="13" data-hh="9"></div>

                <!-- LAYER NR. 9 -->
                <div class="tp-caption Layer2_3 tp-fade tp-resizeme"
                data-x="97"
                data-y="365"
                data-speed="400"
                data-start="2700"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 10">Gynecological Clinic</div>

                <!-- LAYER NR. 10 -->
                <div class="tp-caption tp-fade"
                data-x="67"
                data-y="364"
                data-speed="300"
                data-start="4800"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 11">
                    <img src="images/tick-2.png" alt="" data-ww="13" data-hh="9"></div>

                <!-- LAYER NR. 11 -->
                <div class="tp-caption Layer2_3 tp-fade tp-resizeme"
                data-x="97"
                data-y="401"
                data-speed="400"
                data-start="3000"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 12">Laboratory Analysis</div>

                <!-- LAYER NR. 12 -->
                <div class="tp-caption tp-fade"
                data-x="67"
                data-y="401"
                data-speed="300"
                data-start="5100"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 13">
                    <img src="images/tick-2.png" alt="" data-ww="13" data-hh="9"></div>

                <!-- LAYER NR. 13 -->
                <div class="tp-caption Layer2_3 tp-fade tp-resizeme"
                data-x="97"
                data-y="437"
                data-speed="300"
                data-start="3300"
                data-easing="Power3.easeInOut"
                data-endspeed="400"
                style="z-index: 14">Diagnosis Clinic</div>

                <!-- LAYER NR. 14 -->
                <div class="tp-caption tp-fade"
                data-x="67"
                data-y="437"
                data-speed="300"
                data-start="5400"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 15">
                    <img src="images/tick-2.png" alt="" data-ww="13" data-hh="9"></div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="300" >
                <!-- MAIN IMAGE -->
                <img src="images/image-3.jpg"  alt="image-3"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-fade"
                data-x="61"
                data-y="321"
                data-speed="300"
                data-start="0"
                data-easing="Power3.easeInOut"
                data-endspeed="300"
                style="z-index: 2">
                    <img src="images/home-3-150x150.png" alt=""></div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption Layer3_2 tp-fade tp-resizeme"
                data-x="381"
                data-y="297"
                data-speed="600"
                data-start="1500"
                data-easing="Power0.easeIn"
                data-endspeed="300"
                style="z-index: 3">Care</div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption Layer3_3 tp-fade tp-resizeme"
                data-x="85"
                data-y="209"
                data-speed="600"
                data-start="300"
                data-easing="Power0.easeIn"
                data-endspeed="300"
                style="z-index: 4">Pediatric</div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption Layer3_4 tp-fade tp-resizeme"
                data-x="97"
                data-y="519"
                data-speed="600"
                data-start="2500"
                data-easing="Power0.easeIn"
                data-endspeed="500"
                style="z-index: 5">When medical treatment is fun...</div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption Layer3_5 tp-fade tp-resizeme"
                data-x="90"
                data-y="119"
                data-speed="600"
                data-start="1000"
                data-easing="Power0.easeIn"
                data-endspeed="500"
                style="z-index: 6">Playful</div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var tpj=jQuery;
    tpj.noConflict();
    var revapi1;

    tpj(document).ready(function() {

    if(tpj('#rev_slider_1_1').revolution == undefined)
        revslider_showDoubleJqueryError('#rev_slider_1_1');
    else
       revapi1 = tpj('#rev_slider_1_1').show().revolution(
        {
            dottedOverlay:"none",
            delay:9000,
            startwidth:1160,
            startheight:600,
            hideThumbs:200,

            thumbWidth:100,
            thumbHeight:50,
            thumbAmount:3,

            navigationType:"bullet",
            navigationArrows:"solo",
            navigationStyle:"round",

            touchenabled:"on",
            onHoverStop:"on",

            navigationHAlign:"center",
            navigationVAlign:"bottom",
            navigationHOffset:0,
            navigationVOffset:20,

            soloArrowLeftHalign:"left",
            soloArrowLeftValign:"center",
            soloArrowLeftHOffset:20,
            soloArrowLeftVOffset:0,

            soloArrowRightHalign:"right",
            soloArrowRightValign:"center",
            soloArrowRightHOffset:20,
            soloArrowRightVOffset:0,

            shadow:2,
            fullWidth:"on",
            fullScreen:"off",

            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,


            shuffle:"off",

            autoHeight:"off",
            forceFullWidth:"off",


            hideThumbsOnMobile:"off",
            hideBulletsOnMobile:"off",
            hideArrowsOnMobile:"off",
            hideThumbsUnderResolution:0,

            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            startWithSlide:0,
            videoJsPath:"#",
            fullScreenOffsetContainer: ""
        });

    });	//ready

</script>

<!-- END REVOLUTION SLIDER -->
