<div class="one_fourth first_column">
    <div class="tac">
        <span class="content_icon icon-glyph-2">&nbsp;</span>
    </div>
    <h3 class="block_title tac">Cardio Monitoring</h3>
    <p class="tac">MediCure theme functionality that was developed with health and medical websites in thought, with all the must-have features included.</p>
</div>

<div class="one_fourth">
    <div class="tac">
        <span class="content_icon icon-glyph-3">&nbsp;</span>
    </div>
    <h3 class="block_title tac">Medical Treatment</h3>
    <p class="tac">A fantastic set of 23 custom shortcodes lets you easlily and fast create a highly unique and interactive content for your medical website.</p>
</div>

<div class="one_fourth">
    <div class="tac">
        <span class="content_icon icon-glyph-4">&nbsp;</span>
    </div>
    <h3 class="block_title tac">Emergency Help</h3>
    <p class="tac">Custom Services post type allows you display a variety of medical services for a large hospital as well as for a small private clinic.</p>
</div>

<div class="one_fourth">
    <div class="tac">
        <span class="content_icon icon-glyph-5"></span>
    </div>
    <h3 class="block_title tac">Emergency Help</h3>
    <p class="tac">Custom Services post type allows you display a variety of medical services for a large hospital as well as for a small private clinic.</p>
</div>
