<!-- _________________________ Start Middle _________________________ -->
<section id="middle" class="services_page">

	<div class="headline">
		<h1>Four Columns Services Page</h1>
	</div>
	<div class="cmsms_breadcrumbs">
		<a href="index.html" class="cms_home">Home</a>
		<span class="breadcrumbs_sep">/</span>
		<span>Four Columns Services Page</span>
	</div>
	<div class="s_sort_block">
		<div class="s_options_loader"></div>
		<div class="s_options_block">
			<div class="s_sort">
				<a name="s_name" title="Name" href="#" class="button_small">
					<span>Name</span>
				</a>
			</div>
			<div class="s_filter">
				<div class="s_filter_container">
					<a class="s_cat_filter button_small" data-filter="article.service" title="All Categories" href="#">
						<span>All Categories</span>
					</a>
					<ul class="s_filter_list">
						<li class="current">
							<a data-filter="article.service" title="All Categories" href="#" class="current">All Categories</a>
						</li>
						<li>
							<a href="#" data-filter="article.service[data-category~='diagnosis']" title="Diagnosis">Diagnosis</a>
						</li>
						<li>
							<a href="#" data-filter="article.service[data-category~='pediatric']" title="Pediatric">Pediatric</a>
						</li>
						<li>
							<a href="#" data-filter="article.service[data-category~='pharmacy']" title="Pharmacy">Pharmacy</a>
						</li>
						<li>
							<a href="#" data-filter="article.service[data-category~='therapy']" title="Therapy">Therapy</a>
						</li>
						<li>
							<a href="#" data-filter="article.service[data-category~='%d1%81ardiologist']" title="Сardiologist">Сardiologist</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="cl"></div>
		</div>
	</div>
	<div class="content_wrap fullwidth">

		<!--_________________________ Start Content _________________________ -->
		<section id="middle_content" role="main">
			<div class="entry-summary">
				<section class="services four_columns">
					<!--_________________________ Start Slider Service _________________________ -->
					<article class="service type-service status-publish hentry format-slider" data-category="pediatric therapy">
						<div class="services_inner">
							<a href="diagnosis_clinic.html"></a>
							<div class="media_box">
								<figure>
									<a href="diagnosis_clinic.html" class="preloader" title="Pediatric Clinic">
										<img width="440" height="440" src="images/happy-baby-s-440x440.jpg" class="fullwidth wp-post-image" alt="Pediatric Clinic" title="Pediatric Clinic" />
									</a>
								</figure>
							</div>
							<div class="service_rollover">
								<header class="entry-header">
									<h5 class="entry-title">
										<a href="diagnosis_clinic.html">Pediatric Clinic</a>
									</h5>
								</header>
								<footer class="entry-meta">
									<span class="cmsms_category">
										<a href="diagnosis_clinic.html" rel="tag">Pediatric</a>
										,
										<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
									</span>
									<span class="meta-date">20140112155935</span>
								</footer>
								<div class="entry-content">
									<p>
										Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
									</p>
								</div>
							</div>
						</div>
					</article>
					<!--_________________________ Finish Slider Service _________________________ -->

					<!--_________________________ Start Album Service _________________________ -->
					<article class="service type-service status-publish hentry format-album" data-category="therapy">
						<div class="services_inner">
							<a href="diagnosis_clinic.html"></a>
							<div class="media_box">
								<figure>
									<a href="diagnosis_clinic.html" class="preloader" title="Gynecological Clinic">
										<img width="440" height="440" src="images/ultrasound-s-440x440.jpg" class="fullwidth wp-post-image" alt="Gynecological Clinic" title="Gynecological Clinic" />
									</a>
								</figure>
							</div>
							<div class="service_rollover">
								<header class="entry-header">
									<h5 class="entry-title">
										<a href="diagnosis_clinic.html">Gynecological Clinic</a>
									</h5>
								</header>
								<footer class="entry-meta">
									<span class="cmsms_category">
										<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
									</span>
									<span class="meta-date">20140111155710</span>
								</footer>
								<div class="entry-content">
									<p>
										Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
									</p>
								</div>
							</div>
						</div>
					</article>
					<!--_________________________ Finish Album Service _________________________ -->

					<!--_________________________ Start Album Service _________________________ -->
					<article class="service type-service status-publish hentry format-album" data-category="diagnosis pharmacy">
						<div class="services_inner">
							<a href="diagnosis_clinic.html"></a>
							<div class="media_box">
								<figure>
									<a href="diagnosis_clinic.html" class="preloader" title="Laboratory Analysis">
										<img width="440" height="440" src="images/biochemical-research-s-440x440.jpg" class="fullwidth wp-post-image" alt="Laboratory Analysis" title="Laboratory Analysis" />
									</a>
								</figure>
							</div>
							<div class="service_rollover">
								<header class="entry-header">
									<h5 class="entry-title">
										<a href="diagnosis_clinic.html">Laboratory Analysis</a>
									</h5>
								</header>
								<footer class="entry-meta">
									<span class="cmsms_category">
										<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>
										,
										<a href="diagnosis_clinic.html" rel="tag">Pharmacy</a>
									</span>
									<span class="meta-date">20140110091119</span>
								</footer>
								<div class="entry-content">
									<p>
										Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
									</p>
								</div>
							</div>
						</div>
					</article>
					<!--_________________________ Finish Album Service _________________________ -->

					<!--_________________________ Start Slider Service _________________________ -->
					<article class="service type-service status-publish hentry format-slider" data-category="diagnosis therapy">
						<div class="services_inner">
							<a href="diagnosis_clinic.html"></a>
							<div class="media_box">
								<figure>
									<a href="diagnosis_clinic.html" class="preloader" title="Cardiac Clinic">
										<img width="440" height="440" src="images/consultation-s-1-440x440.jpg" class="fullwidth wp-post-image" alt="Cardiac Clinic" title="Cardiac Clinic" />
									</a>
								</figure>
							</div>
							<div class="service_rollover">
								<header class="entry-header">
									<h5 class="entry-title">
										<a href="diagnosis_clinic.html">Cardiac Clinic</a>
									</h5>
								</header>
								<footer class="entry-meta">
									<span class="cmsms_category">
										<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>
										,
										<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
									</span>
									<span class="meta-date">20140109154812</span>
								</footer>
								<div class="entry-content">
									<p>
										Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
									</p>
								</div>
							</div>
						</div>
					</article>
					<!--_________________________ Finish Slider Service _________________________ -->

					<!--_________________________ Start Album Service _________________________ -->
					<article class="service type-service status-publish hentry format-album" data-category="diagnosis therapy">
						<div class="services_inner">
							<a href="diagnosis_clinic.html"></a>
							<div class="media_box">
								<figure>
									<a href="diagnosis_clinic.html" class="preloader" title="Diagnosis Clinic">
										<img width="440" height="440" src="images/stethoscope-on-clipboard-s-440x440.jpg" class="fullwidth wp-post-image" alt="Diagnosis Clinic" title="Diagnosis Clinic" />
									</a>
								</figure>
							</div>
							<div class="service_rollover">
								<header class="entry-header">
									<h5 class="entry-title">
										<a href="diagnosis_clinic.html">Diagnosis Clinic</a>
									</h5>
								</header>
								<footer class="entry-meta">
									<span class="cmsms_category">
										<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>
										,
										<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
									</span>
									<span class="meta-date">20140108154901</span>
								</footer>
								<div class="entry-content">
									<p>
										Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
									</p>
								</div>
							</div>
						</div>
					</article>
					<!--_________________________ Finish Album Service _________________________ -->

					<!--_________________________ Start Video Service _________________________ -->
					<article class="service type-service status-publish hentry format-video" data-category="diagnosis therapy">
						<div class="services_inner">
							<a href="diagnosis_clinic.html"></a>
							<div class="media_box">
								<figure>
									<a href="diagnosis_clinic.html" class="preloader" title="Rehabilitation Therapy">
										<img width="440" height="440" src="images/male-doctor-440x440.jpg" class="fullwidth wp-post-image" alt="Rehabilitation Therapy" title="Rehabilitation Therapy" />
									</a>
								</figure>
							</div>
							<div class="service_rollover">
								<header class="entry-header">
									<h5 class="entry-title">
										<a href="diagnosis_clinic.html">Rehabilitation Therapy</a>
									</h5>
								</header>
								<footer class="entry-meta">
									<span class="cmsms_category">
										<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>
										,
										<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
									</span>
									<span class="meta-date">20140107161132</span>
								</footer>
								<div class="entry-content">
									<p>
										Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
									</p>
								</div>
							</div>
						</div>
					</article>
					<!--_________________________ Finish Video Service _________________________ -->

					<!--_________________________ Start Video Service _________________________ -->
					<article class="service type-service status-publish hentry format-video" data-category="therapy">
						<div class="services_inner">
							<a href="diagnosis_clinic.html"></a>
							<div class="media_box">
								<figure>
									<a href="diagnosis_clinic.html" class="preloader" title="Medical Counseling">
										<img width="440" height="440" src="images/Young-attractive-man-440x440.jpg" class="fullwidth wp-post-image" alt="Medical Counseling" title="Medical Counseling" />
									</a>
								</figure>
							</div>
							<div class="service_rollover">
								<header class="entry-header">
									<h5 class="entry-title">
										<a href="diagnosis_clinic.html">Medical Counseling</a>
									</h5>
								</header>
								<footer class="entry-meta">
									<span class="cmsms_category">
										<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
									</span>
									<span class="meta-date">20140106090129</span>
								</footer>
								<div class="entry-content">
									<p>
										Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
									</p>
								</div>
							</div>
						</div>
					</article>
					<!--_________________________ Finish Video Service _________________________ -->

					<!--_________________________ Start Album Service _________________________ -->
					<article class="service type-service status-publish hentry format-album" data-category="diagnosis therapy">
						<div class="services_inner">
							<a href="diagnosis_clinic.html"></a>
							<div class="media_box">
								<figure>
									<a href="diagnosis_clinic.html" class="preloader" title="Psychological Counseling">
										<img width="440" height="440" src="images/personal-counselor-s-440x440.jpg" class="fullwidth wp-post-image" alt="Psychological Counseling" title="Psychological Counseling" />
									</a>
								</figure>
							</div>
							<div class="service_rollover">
								<header class="entry-header">
									<h5 class="entry-title">
										<a href="diagnosis_clinic.html">Psychological Counseling</a>
									</h5>
								</header>
								<footer class="entry-meta">
									<span class="cmsms_category">
										<a href="diagnosis_clinic.html" rel="tag">Diagnosis</a>
										,
										<a href="diagnosis_clinic.html" rel="tag">Therapy</a>
									</span>
									<span class="meta-date">20140105165948</span>
								</footer>
								<div class="entry-content">
									<p>
										Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
									</p>
								</div>
							</div>
						</div>
					</article>
					<!--_________________________ Finish Album Service _________________________ -->

				</section>
				<ul class='page-numbers'>
					<li>
						<span class='page-numbers current'>1</span>
					</li>
					<li>
						<a class='page-numbers' href='service_four_2.html'>2</a>
					</li>
					<li>
						<a class="next page-numbers" href="service_four_2.html">&gt;</a>
					</li>
				</ul>
			</div>
			<div class="entry">
				<div class="cmsms_cc"></div>
			</div>
		</section>
		<!-- _________________________ Finish Content _________________________ -->

		<div class="cl"></div>
	</div>
</section>
<!-- _________________________ Finish Middle _________________________ -->
