<div class="one_fourth first_column">
    <div class="tac">
        <span class="content_icon icon-glyph-2">&nbsp;</span>
    </div>
    <h3 class="block_title tac">Cardio Monitoring</h3>
    <p class="tac">
<!--		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
		Our Clinic is equipped with ECG, Xray and laboratory that runs cardiac enzymes and electrolytes
	</p>
</div>

<div class="one_fourth">
    <div class="tac">
        <span class="content_icon icon-glyph-3">&nbsp;</span>
    </div>
    <h3 class="block_title tac">Medical Treatment</h3>
    <p class="tac">
<!--		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
		We administer Nebulizer treatment, repair lacerations, give IV and IM medications, apply splints, and take foreign bodies from the eyes.		</p>
</div>

<div class="one_fourth">
    <div class="tac">
        <span class="content_icon icon-glyph-4">&nbsp;</span>
    </div>
    <h3 class="block_title tac">Emergency Help</h3>
    <p class="tac">
<!--		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.-->
		We are Emergency Room Doctors. All of us work In Emergency Rooms around the country.  We are trained to recognize emergencies
	</p>
</div>

<div class="one_fourth">
    <div class="tac">
        <span class="content_icon icon-glyph-5"></span>
    </div>
    <h3 class="block_title tac">Aging Clinic</h3>
    <p class="tac">
<!--		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
		We organized regular meetings with clients who want to stay healthy and be youthful and energetic.
	</p>
</div>
