<!-- _________________________ Start Sidebar _________________________ -->
<section id="sidebar">
    <div class="one_first">
        <aside id="search-2" class="widget widget_search">
            <div class="search_line">
                <form method="get" action="#">
                    <p>
                        <input name="s" id="error_search_2" placeholder="enter keywords" value="" type="text">
                        <input value="" type="submit"></p>
                </form>
            </div>
        </aside>
    </div>
    <div class="cl"></div>
    <div class="one_first">
        <aside id="custom-popular-services-2" class="widget widget_custom_popular_services_entries">
            <script type="text/javascript">
                jQuery(document).ready(function () {
                    jQuery('#custom-popular-services-2 .widget_custom_services_entries_slides').cmsmsResponsiveContentSlider({
                        sliderWidth: '100%',
                        sliderHeight: 'auto',
                        animationSpeed: 500,
                        animationEffect: 'slide',
                        animationEasing: 'easeInOutExpo',
                        pauseTime: 7000,
                        activeSlide: 1,
                        touchControls: true,
                        pauseOnHover: false,
                        arrowNavigation: true,
                        slidesNavigation: true,
                        afterSliderLoad: function () {
                            if (jQuery('#bottom a.sidebar_button_inner').hasClass('active') && jQuery('#bottom').height() !== 0) {
                                jQuery(window).trigger('resize');
                            }
                        },
                        afterSlideChange: function () {
                            if (jQuery('#bottom a.sidebar_button_inner').hasClass('active') && jQuery('#bottom').height() !== 0) {
                                jQuery(window).trigger('resize');
                            }
                        }
                    });
                });
            </script>
            <div class="widget_custom_services_entries_container">
                <h3 class="widgettitle">Services</h3>
                <ul class="widget_custom_services_entries_slides responsiveContentSlider">
                    <li>
                        <figure>
                            <img width="600" height="370" src="images/happy-baby-s-600x370.jpg" class="fullwidth wp-post-image" alt="Pediatric Clinic" title="Pediatric Clinic" style="width:100%; height:auto;" />
                        </figure>
                        <h6 class="service_title">
                            <a href="diagnosis_clinic.html" title="Pediatric Clinic">Pediatric Clinic</a>
                        </h6>
                        <div class="entry-content">
                            <p>
                                Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with&#8230;
                            </p>
                        </div>
                    </li>
                    <li>
                        <figure>
                            <img width="600" height="370" src="images/stethoscope-on-clipboard-s-600x370.jpg" class="fullwidth wp-post-image" alt="Diagnosis Clinic" title="Diagnosis Clinic" style="width:100%; height:auto;" />
                        </figure>
                        <h6 class="service_title">
                            <a href="diagnosis_clinic.html" title="Diagnosis Clinic">Diagnosis Clinic</a>
                        </h6>
                        <div class="entry-content">
                            <p>
                                Medicure HTML theme was created to offer a perfect solution for medical websites. It features functionality that was developed with health and medicine niche websites in thought, with all the compulsory for these sites features included.
                            </p>
                        </div>
                    </li>
                    <li>
                        <figure>
                            <img width="591" height="370" src="images/smiling-doctor-with-chin-on-hand-s-591x370.jpg" class="fullwidth wp-post-image" alt="Dental Clinic" title="Dental Clinic" style="width:100%; height:auto;" />
                        </figure>
                        <h6 class="service_title">
                            <a href="diagnosis_clinic.html" title="Dental Clinic">Dental Clinic</a>
                        </h6>
                        <div class="entry-content">
                            <p>
                                Custom Services posttype allows you display medical services of a large hospital as well as of small private clinic – fantastic flexibility allows to adapt the theme to your needs. A large set of shortcodes empowers you to create unique and interactive content.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="one_first">
        <aside id="custom-posts-tabs-2" class="widget widget_custom_posts_tabs_entries">
            <h3 class="widgettitle">Post Tabs</h3>
            <div class="tab lpr">
                <ul class="tabs">
                    <li><a href="#"><span>Latest</span></a></li>
                    <li><a href="#"><span>Popular</span></a></li>
                    <li><a href="#"><span>Comments</span></a></li>
                </ul>
                <div class="tab_content">
                    <div class="tabs_tab tab_latest">
                        <ul>
                            <li>
                                <div class="alignleft">
                                    <figure>
                                        <a href="openpost.html" title="Center for Medical Technology Innovation">
                                            <img width="50" height="50" src="images/stethoscope-on-clipboard-s-150x150.jpg" class=" wp-post-image" alt="Center for Medical Technology Innovation" title="Center for Medical Technology Innovation" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="ovh">
                                    <a href="openpost.html" title="Center for Medical Technology Innovation">Center for Medical Technology Innovation</a>
                                    <br />
                                    <small> <abbr class="published" title="24-01-2014">3 months ago</abbr>
                                    </small>
                                </div>
                                <div class="cl"></div>
                            </li>
                            <li>
                                <div class="alignleft">
                                    <figure>
                                        <a href="openpost.html" title="Nutritional Personal Consultation">
                                            <img width="50" height="50" src="images/doctor-at-the-gym-710400-1-150x150.jpg" class=" wp-post-image" alt="Nutritional Personal Consultation" title="Nutritional Personal Consultation" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="ovh">
                                    <a href="openpost.html" title="Nutritional Personal Consultation">Nutritional Personal Consultation</a>
                                    <br />
                                    <small> <abbr class="published" title="24-01-2014">3 months ago</abbr>
                                    </small>
                                </div>
                                <div class="cl"></div>
                            </li>
                            <li>
                                <div class="alignleft">
                                    <figure>
                                        <a href="openpost.html" title="Standard Post With an Image">
                                            <img width="50" height="50" src="images/stethoscope-on-clipboard-s-710400-150x150.jpg" class=" wp-post-image" alt="Standard Post With an Image" title="Standard Post With an Image" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="ovh">
                                    <a href="openpost.html" title="Standard Post With an Image">Standard Post With an Image</a>
                                    <br />
                                    <small>
                                        <abbr class="published" title="13-03-2013">1 year ago</abbr>
                                    </small>
                                </div>
                                <div class="cl"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="tabs_tab tab_popular">
                        <ul>
                            <li>
                                <div class="alignleft">
                                    <figure>
                                        <a href="openpost.html" title="Link Post Format">
                                            <img src="images/img/PF-link.jpg" alt="Link Post Format" title="Link Post Format" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="ovh">
                                    <a href="" title="[Link] Cmsmasters portfolio">[Link] Cmsmasters portfolio</a>
                                    <br />
                                    <small>
                                        <abbr class="published" title="05-03-2013">1 year ago</abbr>
                                    </small>
                                </div>
                                <div class="cl"></div>
                            </li>
                            <li>
                                <div class="alignleft">
                                    <figure>
                                        <a href="openpost.html" title="Image Post Format">
                                            <img width="50" height="50" src="images/happy-baby-s-710400-150x150.jpg" class="wp-post-image" alt="Image Post Format" title="Image Post Format" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="ovh">
                                    <a href="openpost.html" title="Image Post Format">Image Post Format</a>
                                    <br />
                                    <small>
                                        <abbr class="published" title="21-11-2011">2 years ago</abbr>
                                    </small>
                                </div>
                                <div class="cl"></div>
                            </li>
                            <li>
                                <div class="alignleft">
                                    <figure>
                                        <a href="openpost.html" title="Quote post format">
                                            <img src="images/img/PF-quote.jpg" alt="Quote post format" title="Quote post format" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="ovh">
                                    <div class="entry-content">
                                        <p>
                                            Drag’n’drop content parts across your page with a handy WYSIWYG&#8230;
                                        </p>
                                    </div>
                                    <small>
                                        <abbr class="published" title="06-03-2013">1 year ago</abbr>
                                    </small>
                                </div>
                                <div class="cl"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="tabs_tab tab_comments">
                        <ul>
                            <li>
                                Jack
                                <span class="color_2">on</span>
                                <a href="openpost.html" rel="bookmark">Gallery Post Format</a>
                                <small>
                                    <abbr class="published" title="15-11-2012">1 year ago</abbr>
                                </small>
                                <p>Great theme, love it!</p>
                            </li>
                            <li>
                                Gabi
                                <span class="color_2">on</span>
                                <a href="openpost.html" rel="bookmark">Gallery Post Format</a>
                                <small>
                                    <abbr class="published" title="15-11-2012">1 year ago</abbr>
                                </small>
                                <p>Wonderful design, very clean-looking</p>
                            </li>
                            <li>
                                <a href="#" title="#" target="_blank">cmsmasters</a>
                                <span class="color_2">on</span>
                                <a href="openpost.html" rel="bookmark">Standard Post Without Image</a>
                                <small>
                                    <abbr class="published" title="15-11-2012">1 year ago</abbr>
                                </small>
                                <p>Yes, new cmsmasters' admin was created to make all the...</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <div class="one_first">
        <aside id="custom-recent-testimonials-2" class="widget widget_custom_recent_testimonials_entries">
            <script type="text/javascript">
                jQuery(document).ready(function () {
                    jQuery('#custom-recent-testimonials-2 .widget_custom_services_entries_slides').cmsmsResponsiveContentSlider({
                        sliderWidth: '100%',
                        sliderHeight: 'auto',
                        animationSpeed: 500,
                        animationEffect: 'slide',
                        animationEasing: 'easeInOutExpo',
                        pauseTime: 7000,
                        activeSlide: 1,
                        touchControls: true,
                        pauseOnHover: false,
                        arrowNavigation: false,
                        slidesNavigation: false,
                        afterSliderLoad: function () {
                            if (jQuery('#bottom a.sidebar_button_inner').hasClass('active') && jQuery('#bottom').height() !== 0) {
                                jQuery(window).trigger('resize');
                            }
                        },
                        afterSlideChange: function () {
                            if (jQuery('#bottom a.sidebar_button_inner').hasClass('active') && jQuery('#bottom').height() !== 0) {
                                jQuery(window).trigger('resize');
                            }
                        }
                    });
                });
            </script>
            <div class="widget_custom_services_entries_container">
                <h3 class="widgettitle">Testimonials</h3>
                <ul class="widget_custom_services_entries_slides responsiveContentSlider">
                    <li>
                        <div class="tl-content_wrap">
                            <div class="tl-content">
                                <p>
                                    Lorem ipsum dolor sit amet, usu id dignissim consectetuer, lorem graece cotidieque vel ex, ferri labitur id nam. Ne cum legere everti consetetur, cu nec doctus appellantur.
                                </p>
                            </div>
                        </div>
                        <figure class="tl_author_img">
                            <img width="150" height="150" src="images/Woman-smiling-21-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Rebecca Martins" title="Rebecca Martins" style="width:45px; height:45px;" />
                        </figure>
                        <a target="_blank" href="#" class="tl_author">Rebecca Martins</a>
                        <p class="tl_company">29 years</p>
                    </li>
                    <li>
                        <div class="tl-content_wrap">
                            <div class="tl-content">
                                <p>
                                    Lorem ipsum dolor sit amet, usu id dignissim consectetuer, lorem graece cotidieque vel ex, ferri labitur id nam. Ne cum legere everti consetetur, cu nec doctus appellantur.
                                </p>
                            </div>
                        </div>
                        <figure class="tl_author_img">
                            <img width="150" height="150" src="images/happy-to-help-you-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Jeff Blake" title="Jeff Blake" style="width:45px; height:45px;" />
                        </figure>
                        <a target="_blank" href="#" class="tl_author">Jeff Blake</a>
                        <p class="tl_company">37 years</p>
                    </li>
                    <li>
                        <div class="tl-content_wrap">
                            <div class="tl-content">
                                <p>
                                    Lorem ipsum dolor sit amet, usu id dignissim consectetuer, lorem graece cotidieque vel ex, ferri labitur id nam. Ne cum legere everti consetetur, cu nec doctus appellantur.
                                </p>
                            </div>
                        </div>
                        <figure class="tl_author_img">
                            <img width="150" height="150" src="images/Dentist-Sandy-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Fredrick Keen" title="Fredrick Keen" style="width:45px; height:45px;" />
                        </figure>
                        <a target="_blank" href="#" class="tl_author">Frederick</a>
                        <p class="tl_company">52 years</p>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="one_first">
        <aside id="custom-twitter-2" class="widget widget_custom_twitter_entries">
            <script type="text/javascript">
                jQuery(document).ready(function () {
                    jQuery('#custom-twitter-2_tweets').tweet( {
                        modpath : 'php/load_tweets.php',
                        username : 'cmsmasters ',
                        count : 1,
                        loading_text : 'loading...',
                        template : '{avatar}{join}{text}{time}'
                    } );
                } );
            </script>
            <h3 class="widgettitle">Twitter</h3>
            <div id="custom-twitter-2_tweets"></div>
        </aside>
    </div>
    <div class="one_first">
        <aside id="nav_menu-3" class="widget widget_nav_menu">
            <h3 class="widgettitle">Doctors</h3>
            <div class="menu-doctors-container">
                <ul id="menu-doctors" class="menu">
                    <li class="menu-item">
                        <a href="#">Dr. Karen Dawson</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Dr. Jack Simmons</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Dr. Jack Zerriper</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Dr. Michael Linden</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Dr. Simon Green</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Dr. Natalie Channing</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Dr. Caroline Gerwig</a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="one_first">
        <aside class="widget widget_custom_flickr_entries">
            <h3 class="widgettitle">Flickr</h3>
            <div class="wrap" id="flickr_images_sidebar"></div>
            <script type="text/javascript">
                jQuery(document).ready(function(){
                    jQuery('#flickr_images_sidebar').jflickrfeed({
                        limit: 9,
                        qstrings: {
                            id: '95826647@N03'
                        },
                        itemTemplate: '<div class="flickr_badge_image"><a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a></div>'
                    });
                });
            </script>
        </aside>
    </div>
</section>
<!-- _________________________ Finish Sidebar _________________________ -->
