<h3>Virtual Tour</h3>
<div class="percent_parent">
    <div id="percent_item_1" class="percent_item">
        <span class="percent_item_text">Ophthalmology</span>
        <div class="percent_item_colored_main_wrap">
            <div class="percent_item_colored_wrap">
                <div class="percent_item_colored">
                    <span class="percent_item_text">92%</span>
                </div>
            </div>
        </div>
    </div>
    <div id="percent_item_2" class="percent_item">
        <span class="percent_item_text">Neurosurgery</span>
        <div class="percent_item_colored_main_wrap">
            <div class="percent_item_colored_wrap">
                <div class="percent_item_colored">
                    <span class="percent_item_text">64%</span>
                </div>
            </div>
        </div>
    </div>
    <div id="percent_item_3" class="percent_item">
        <span class="percent_item_text">Gynecology</span>
        <div class="percent_item_colored_main_wrap">
            <div class="percent_item_colored_wrap">
                <div class="percent_item_colored">
                    <span class="percent_item_text">87%</span>
                </div>
            </div>
        </div>
    </div>
    <div id="percent_item_4" class="percent_item">
        <span class="percent_item_text">Surgery</span>
        <div class="percent_item_colored_main_wrap">
            <div class="percent_item_colored_wrap">
                <div class="percent_item_colored">
                    <span class="percent_item_text">75%</span>
                </div>
            </div>
        </div>
    </div>
    <div id="percent_item_5" class="percent_item">
        <span class="percent_item_text">Psychotherapy</span>
        <div class="percent_item_colored_main_wrap">
            <div class="percent_item_colored_wrap">
                <div class="percent_item_colored">
                    <span class="percent_item_text">82%</span>
                </div>
            </div>
        </div>
    </div>
    <div id="percent_item_6" class="percent_item">
        <span class="percent_item_text">Radiography</span>
        <div class="percent_item_colored_main_wrap">
            <div class="percent_item_colored_wrap">
                <div class="percent_item_colored">
                    <span class="percent_item_text">55%</span>
                </div>
            </div>
        </div>
    </div>
</div>
