<section id="services_shortcode_5357743422388" class="post_type_shortcode type_testimonial">
    <div class="post_type_shortcode_inner">
        <h3>Testimonials</h3>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#services_shortcode_5357743422388 .post_type_list').cmsmsResponsiveContentSlider({
                    sliderWidth: '100%',
                    sliderHeight: 'auto',
                    animationSpeed: 500,
                    animationEffect: 'slide',
                    animationEasing: 'easeInOutExpo',
                    pauseTime: 0,
                    activeSlide: 1,
                    touchControls: false,
                    pauseOnHover: false,
                    arrowNavigation: true,
                    slidesNavigation: false
                });
            });
        </script>
        <ul class="post_type_list services_container responsiveContentSlider">
            <li>
                <article class="testimonial type-testimonial hentry one_first">
                    <div class="tl-content_wrap">
                        <div class="tl-content">
                            <blockquote>
								If you are choosing a medical center, Leesburg Urgent Care is the one I would recommend. Here you are offered medical treatment of a reliable quality, and a full range of services is offered by a team of professional doctors. Caring staff, new equipment and helpful therapy - definitely, this is a medical center of my choice!
                            </blockquote>
                        </div>
                    </div>
                    <img width="150" height="150" src="images/Dentist-Sandy-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Fredrick Keen" title="Fredrick Keen" />
                    <a target="_blank" href="#" class="tl_author">Frederick</a>
                    <p class="tl_company">57 years</p>
                </article>
            </li>
            <li>
                <article class="testimonial type-testimonial hentry one_first">
                    <div class="tl-content_wrap">
                        <div class="tl-content">
                            <blockquote>
                                Fantastic service and really helpful and caring personnel. I was impressed by pleasant atmosphere and the general assistance. My doctor offered me a very effective treatment and I really did feel significant improvement really soon. I followed all the prescriptions and now I feel great. Greatly thankful to all the staff, and I would definitely recommend this medical center to anyone who medic aid.
                            </blockquote>
                        </div>
                    </div>
                    <img width="150" height="150" src="images/happy-to-help-you-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Jeff Blake" title="Jeff Blake" />
                    <a target="_blank" href="#" class="tl_author">Jeff Blake</a>
                    <p class="tl_company">32 years</p>
                </article>
            </li>
            <li>
                <article class="testimonial type-testimonial hentry one_first">
                    <div class="tl-content_wrap">
                        <div class="tl-content">
                            <blockquote>
                                My doctor offered me a very effective treatment and I really did feel significant improvement really soon. I followed all the prescriptions and now I feel great. Greatly thankful to all the staff, and I would definitely recommend this medical center to anyone who medic aid. Fantastic service and really helpful and caring personnel. I was impressed by pleasant atmosphere and the general assistance.
                            </blockquote>
                        </div>
                    </div>
                    <img width="150" height="150" src="images/Woman-smiling-2-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Rebecca Martins" title="Rebecca Martins" />
                    <a target="_blank" href="#" class="tl_author">Rebecca Martins</a>
                    <p class="tl_company">29 years</p>
                </article>
            </li>
            <li>
                <article class="testimonial type-testimonial hentry one_first">
                    <div class="tl-content_wrap">
                        <div class="tl-content">
                            <blockquote>
                                My doctor offered me a very effective treatment and I really did feel significant improvement really soon. I followed all the prescriptions and now I feel great. Greatly thankful to all the staff, and I would definitely recommend this medical center to anyone who medic aid. Fantastic service and really helpful and caring personnel. I was impressed by pleasant atmosphere and the general assistance.
                            </blockquote>
                        </div>
                    </div>
                    <img width="150" height="150" src="images/Smiling-Man-17-150x150.jpg" class="attachment-thumbnail wp-post-image" alt="Gregory Newman" title="Gregory Newman" />
                    <a target="_blank" href="#" class="tl_author">Gregory Newman</a>
                    <p class="tl_company">27 years</p>
                </article>
            </li>
        </ul>
        <div class="cl"></div>
    </div>
</section>
