<!-- _________________________ Start Top Sidebar _________________________ -->
<section class="top_sidebar">
	<div class="top_sidebar_inner">
		<div class="one_first">
			<aside id="custom-colored-blocks-2" class="widget widget_custom_colored_blocks_entries">
				<div id="box_color_1" class="widget_colored_cell four_box">
					<div class="widget_colored_cell_inner">
						<h2 class="widgettitle">Clinic News</h2>
						<p>
							<!-- Cum sociis natoque penatibus et magnis dis parturient montesmus. 
							Pro vel nibh et elit mollis commodo et nec augue tristique sed<br /-->
							We have a new name! Welcome to MetroMed Urgent Care!
							To celebrate this event we invite you to stop for a grand opening!
						</p>
						<a href="#" class="button_widget" title="Read More">
							<span>Read More</span>
						</a>
					</div>
				</div>
				<div id="box_color_2" class="widget_colored_cell four_box">
					<div class="widget_colored_cell_inner">
						<h2 class="widgettitle">Video Chat</h2>
						<p>
							Telemedicine in action! Try our new Video Chat!
							You can use it everywhere to have a remote conversation with our doctors.
						</p>
						<a href="#" class="button_widget" title="Read More">
							<span>Read More</span>
						</a>
					</div>
				</div>
				<div id="box_color_3" class="widget_colored_cell four_box">
					<div class="widget_colored_cell_inner">
						<h2 class="widgettitle">About Us</h2>
						<p>
							Our board-certified emergency physicians would love to help you
							when your primary care physician isn’t available.
							<!-- Our extended hours make us the place to turn to when you or someone you love suffers a sudden illness or injury. -->
						</p>
						<a ui-sref="about-us" class="button_widget" title="Read More">
							<span>Read More</span>
						</a>
					</div>
				</div>
				<div id="box_color_4" class="widget_colored_cell four_box">
					<div class="widget_colored_cell_inner">
						<h2 class="widgettitle">Opening Hours</h2><br>
						<ul class="timeline-list">
							<li>
								<span class="fl">Monday - Friday:</span>
								<span class="fr">10 am to 8 pm</span>
							</li>
							<li>
								<span class="fl">Saturday:</span>
								<span class="fr">10 am to 8 pm</span>
							</li>
							<li>
								<span class="fl">Sunday:</span>
								<span class="fr">10 am to 8 pm</span>
							</li>
						</ul>
					</div>
				</div>
			</aside>
		</div>
		<div class="one_first">
			<aside id="text-2" class="widget widget_text">
				<div class="textwidget">
					<!-- <h1>Awesome Theme for Medical and Health Websites</h1> -->
					<!-- <h1>We are Passionate about Making People Healthier</h1> -->
					<h1>
						Emergencies Don't Make Appointments. Neither Should You.
					</h1>
					<h4>
						We are passionate about making people healthier and provide primary and urgent care.
					</h4>
				</div>
			</aside>
		</div>
	</div>
</section>
<!-- _________________________ Finish Top Sidebar _________________________ -->
